# BONUS 1

In [29]:
import pandas as pd
import psycopg2 
from psycopg2 import sql
from sqlalchemy import create_engine, text
import sqlalchemy

In [30]:
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/Proyecto_ETL")
conn = engine.connect()

In [31]:
def ejecutar_query(query):

    try:
        resultado = conn.execute(text(query)).fetchall()
    
        if len(resultado) > 1:
            resultado = pd.DataFrame(resultado)
        if len(resultado) < 1:
            resultado = "No hay n ingún registro"

    except Exception as e:
        print(f"Error al ejecutar la query:\n {e}")

    return resultado

## CONSULTAS

### Cuantos hoteles tiene la base de datos:

In [32]:
total_hoteles = ejecutar_query(
    """
    SELECT 
        COUNT(id_hotel)
    FROM
        hoteles c
    """)

print(f"Total hoteles: {total_hoteles[0][0]}")

Total hoteles: 29

### Cuantas reservas se han hecho:

In [33]:
total_reservas = ejecutar_query(
    """
    SELECT 
        COUNT(id_reserva)
    FROM
        reservas s
    """)

print(f"Total reservas: {total_reservas[0][0]}")

Total reservas: 15000

### Identifica los 10 clientes que más se han gastado:

In [34]:
top_10_clintes = ejecutar_query(
    """
    SELECT 
        concat(c.nombre , ' ' , c.apellido) as "Nombre_Cliente",
        c.id_cliente, 
        sum(r.precio_noche) as "Cantidad_total"
    FROM
        clientes c 
        inner join reservas r on c.id_cliente = r.id_cliente 
    GROUP BY 
        c.id_cliente
    order by 3 desc 
    limit 10;
    """)

top_10_clintes

      Nombre_Cliente id_cliente  Cantidad_total
0      Ceferino Sosa       2713          888.93
1  Leandra Castañeda       8218          823.44
2      Modesta Heras      10330          805.08
3       Clarisa Coll       3046          795.63
4      Abigaíl Ayala         36          791.89
5   Domingo Zabaleta       3941          778.89
6     Consuela Folch       3283          749.41
7      Rosalva Comas      12611          735.60
8        Samuel Arco      13015          696.95
9      Ángeles Nuñez      14811          696.65

### Identifica el hotel de la competencia y el hotel de nuestra marca que más han recaudado para esas fechas

In [35]:
top_hotel_propio_recuadacion = ejecutar_query(
    """
    select 
        h.nombre_hotel,
        SUM(r.precio_noche)AS Total_Reserva
    from 
        hoteles h
        inner join reservas r on h.id_hotel = r.id_hotel
    where 
        h.competencia = false 
    group by h.id_hotel
    order by Total_Reserva desc
    limit 1;
    """)

nombre = top_hotel_propio_recuadacion[0][0]
recaudacion = round(top_hotel_propio_recuadacion[0][1], 2)

print(f"El hotel propio que más ha recaudado es:\n{nombre}\t-\t{recaudacion}€")

El hotel propio que más ha recaudado es:
Hotel Luz de Madrid	-	152136.81€

In [36]:
top_hotel_comp_recuadacion = ejecutar_query(
    """
    select 
        h.nombre_hotel,
        SUM(r.precio_noche)AS Total_Reserva
    from 
        hoteles h
        inner join reservas r on h.id_hotel = r.id_hotel
    where 
        h.competencia = true 
    group by h.id_hotel
    order by Total_Reserva desc
    limit 1;
    """)

top_hotel_comp_recuadacion

nombre = top_hotel_comp_recuadacion[0][0]
recaudacion = round(top_hotel_comp_recuadacion[0][1], 2)

print(f"El hotel de la competencia que más ha recaudado es:\n{nombre}\t-\t{recaudacion}€")

El hotel de la competencia que más ha recaudado es:
ibis Madrid Calle Alcalá	-	144071.0€

### Identifica cuantos eventos hay.

In [37]:
num_eventos = ejecutar_query(
    """
    select 
        count(id_evento)
    from 
        eventos e ; 
    """)

print(f"Eventos totales: {num_eventos[0][0]}")

Eventos totales: 211

### Identifica el día que más reservas se han hecho para nuestro hoteles

In [38]:
# dia_max_eventos = ejecutar_query(
#     """
    
#     """)

# print(f"El día que más eventos hay es: {dia_max_eventos[0][0]}")

In [39]:
conn.close()