# BONUS 1

In [58]:
import pandas as pd
import psycopg2 
from psycopg2 import sql
from sqlalchemy import create_engine, text
import sqlalchemy

In [59]:
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/ETL_Hoteles")
conn = engine.connect()

In [60]:
def ejecutar_query(query):

    try:
        resultado = conn.execute(text(query)).fetchall()
    
        if len(resultado) > 1:
            resultado = pd.DataFrame(resultado)
        if len(resultado) < 1:
            resultado = "No hay n ingún registro"

    except Exception as e:
        print(f"Error al ejecutar la query:\n {e}")

    return resultado

## CONSULTAS

### Cuantos hoteles tiene la base de datos:

In [61]:
total_hoteles = ejecutar_query(
    """
    SELECT 
        COUNT(id_hotel)
    FROM
        hoteles c
    """)

total_hoteles

[(15000,)]

### Cuantas reservas se han hecho:

In [62]:
total_reservas = ejecutar_query(
    """
    SELECT 
        COUNT(id_reserva)
    FROM
        reservas s
    """)

total_reservas

[(15000,)]

### Identifica los 10 clientes que más se han gastado:

In [63]:
top_10_clintes = ejecutar_query(
    """
    SELECT 
        concat(c.nombre , ' ' , c.apellido) as "Nombre_Cliente",
        c.id_cliente, 
        sum(r.precio_noche) as "Cantidad_total"
    FROM
        clientes c 
        inner join reservas r on c.id_cliente = r.id_cliente 
    GROUP BY 
        c.id_cliente
    order by 3 desc 
    limit 10;
    """)

top_10_clintes

      Nombre_Cliente id_cliente  Cantidad_total
0      Ceferino Sosa       2713          888.93
1  Leandra Castañeda       8218          823.44
2      Modesta Heras      10330          805.08
3       Clarisa Coll       3046          795.63
4      Abigaíl Ayala         36          791.89
5   Domingo Zabaleta       3941          778.89
6     Consuela Folch       3283          749.41
7      Rosalva Comas      12611          735.60
8        Samuel Arco      13015          696.95
9      Ángeles Nuñez      14811          696.65

### Identifica el hotel de la competencia y el hotel de nuestra marca que más han recaudado para esas fechas

In [53]:
top_hotel_propio_recuadacion = ejecutar_query(
    """
    select 
        h.nombre_hotel,
        SUM(r.precio_noche)AS Total_Reserva
    from 
        hoteles h
        inner join reservas r on h.id_hotel = r.id_hotel
    where 
        h.competencia = false 
    group by h.id_hotel
    order by Total_Reserva desc
    limit 1;
    """)

nombre = top_hotel_propio_recuadacion[0][0]
recaudacion = round(top_hotel_propio_recuadacion[0][1], 2)

print(f"El hotel propio que más ha recaudado es:\n{nombre}\t-\t{recaudacion}€")

El hotel propio que más ha recaudado es:
Hotel Camino del Sol	-	152136.81€

In [54]:
top_hotel_comp_recuadacion = ejecutar_query(
    """
    select 
        h.nombre_hotel,
        SUM(r.precio_noche)AS Total_Reserva
    from 
        hoteles h
        inner join reservas r on h.id_hotel = r.id_hotel
    where 
        h.competencia = true 
    group by h.id_hotel
    order by Total_Reserva desc
    limit 1;
    """)

top_hotel_comp_recuadacion

# nombre = top_hotel_comp_recuadacion[0][0]
# recaudacion = round(top_hotel_comp_recuadacion[0][1], 2)

# print(f"El hotel propio que más ha recaudado es:\n{nombre}\t-\t{recaudacion}€")

'No hay n ingún registro'

In [55]:
num_eventos = ejecutar_query(
    """
    select 
        h.nombre_hotel,
        SUM(r.precio_noche)AS Total_Reserva
    from 
        hoteles h
        inner join reservas r on h.id_hotel = r.id_hotel
    where 
        h.competencia = true 
    group by h.id_hotel
    order by Total_Reserva desc
    limit 1;
    """)

top_hotel_comp_recuadacion

'No hay n ingún registro'

In [56]:
conn.close()