In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [2]:
df_competencia_scrapping = pd.read_pickle("../data/web_scrapping/hoteles_competencia_info_scrapping.pickle")
df_competencia_scrapping

                                 nombre  rating  precio_noche fecha_reserva
0                 Novotel Madrid Center     4.6           255    2025-02-25
1           ibis budget Madrid Calle 30     4.4           110    2025-02-25
2         ibis Madrid Centro las Ventas     4.5           172    2025-02-25
3  ibis budget Madrid Centro las Ventas     4.3           119    2025-02-25
4        Novotel Madrid City Las Ventas     4.6           173    2025-02-25
5       Ibis Budget Madrid Calle Alcalá     4.3            95    2025-02-25
6              Ibis Madrid Calle Alcalá     4.5           119    2025-02-25
7           ibis budget Madrid Vallecas     4.3           107    2025-02-25
8        Pullman Madrid Airport & Feria     4.2           129    2025-02-25
9  Novotel Madrid Campo de las Naciones     4.5           154    2025-02-25

In [3]:
df_competencia_scrapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nombre         10 non-null     object
 1   rating         10 non-null     float64
 2   precio_noche   10 non-null     int64
 3   fecha_reserva  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 452.0+ bytes

In [4]:
df_competencia = pd.read_pickle("../data/limpieza/hoteles_competencia.pickle")
df_competencia.head()

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad,nombre_completo,nombre_completo_mail
0,5256cc90-139b-43d2-8ec5-412495d751cf,5311,Feliciana,Cantón,feliciana.cantón@example.com,True,NaT,2025-03-01,2025-03-02,113,NaN,,NaN,Madrid,Feliciana Cantón,Feliciana Cantón feliciana.cantón@example.com
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,8310,Leonardo,Hierro,leonardo.hierro@example.com,True,NaT,2025-03-01,2025-03-02,194,NaN,,NaN,Madrid,Leonardo Hierro,Leonardo Hierro leonardo.hierro@example.com
7,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,8047,Judith,Rivas,judith.rivas@example.com,True,NaT,2025-03-01,2025-03-02,131,NaN,,NaN,Madrid,Judith Rivas,Judith Rivas judith.rivas@example.com
9,458029ad-cc9b-4d85-8290-fec170bcc02d,204,Adolfo,Cuervo,adolfo.cuervo@example.com,True,NaT,2025-03-01,2025-03-02,114,NaN,,NaN,Madrid,Adolfo Cuervo,Adolfo Cuervo adolfo.cuervo@example.com
11,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,9762,María Carmen,Navarro,maría carmen.navarro@example.com,True,NaT,2025-03-01,2025-03-02,103,NaN,,NaN,Madrid,María Carmen Navarro,María Carmen Navarro maría carmen.navarro@exam...

In [5]:
df_competencia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5172 entries, 0 to 14998
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_reserva            5172 non-null   object
 1   id_cliente            5172 non-null   int64
 2   nombre                5172 non-null   object
 3   apellido              5172 non-null   object
 4   mail                  5172 non-null   object
 5   competencia           5172 non-null   bool
 6   fecha_reserva         0 non-null      datetime64[ns]
 7   inicio_estancia       5149 non-null   datetime64[ns]
 8   final_estancia        5149 non-null   datetime64[ns]
 9   id_hotel              5172 non-null   int64
 10  precio_noche          0 non-null      float64
 11  nombre_hotel          5172 non-null   object
 12  estrellas             0 non-null      float64
 13  ciudad                5172 non-null   object
 14  nombre_completo       5172 non-null   object
 15  nombre_completo_mail  5172 non-null   object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(2), object(8)
memory usage: 651.6+ KB

In [6]:
df_propios = pd.read_pickle("../data/limpieza/hoteles_propios.pickle")
df_propios.head()

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad,nombre_completo,nombre_completo_mail
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,9063,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,12,119.96,Hotel Monte Verde,1.0,Madrid,Maite Calatayud,Maite Calatayud maite.calatayud@example.com
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,13646,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,2,211.53,Hotel Brisas del Mar,5.0,Madrid,Tecla Bonet,Tecla Bonet tecla.bonet@example.com
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,993,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,3,378.37,Hotel Camino del Sol,1.0,Madrid,Amílcar Andrés,Amílcar Andrés amílcar.andrés@example.com
5,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,7371,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-02,14,85.45,Hotel Puerta del Cielo,5.0,Madrid,Joan Vazquez,Joan Vazquez joan.vazquez@example.com
6,99c3dc4f-663c-45f7-849a-ac9313f3746a,2839,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-02,5,309.80,Hotel Encanto Real,1.0,Madrid,Chelo Flor,Chelo Flor chelo.flor@example.com

In [7]:
df_propios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9828 entries, 2 to 14999
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_reserva            9828 non-null   object
 1   id_cliente            9828 non-null   int64
 2   nombre                9828 non-null   object
 3   apellido              9828 non-null   object
 4   mail                  9828 non-null   object
 5   competencia           9828 non-null   bool
 6   fecha_reserva         9828 non-null   datetime64[ns]
 7   inicio_estancia       9828 non-null   datetime64[ns]
 8   final_estancia        9828 non-null   datetime64[ns]
 9   id_hotel              9828 non-null   int64
 10  precio_noche          9828 non-null   float64
 11  nombre_hotel          9828 non-null   object
 12  estrellas             9828 non-null   float64
 13  ciudad                9828 non-null   object
 14  nombre_completo       9828 non-null   object
 15  nombre_completo_mail  9828 non-null   object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(2), object(8)
memory usage: 1.2+ MB

In [8]:
nulos_porcentaje = round((df_propios.isnull().sum() / len(df_propios)) * 100, 2)
nulos_porcentaje = nulos_porcentaje[nulos_porcentaje > 0]
print(nulos_porcentaje)

Series([], dtype: float64)

In [9]:
df_id_hotel = df_competencia.groupby(["id_hotel"]).count()
df_id_hotel

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,precio_noche,nombre_hotel,estrellas,ciudad,nombre_completo,nombre_completo_mail
id_hotel,,,,,,,,,,,,,,,
103,533,533,533,533,533,533,0,533,533,0,533,0,533,533,533
113,515,515,515,515,515,515,0,510,510,0,515,0,515,515,515
114,537,537,537,537,537,537,0,533,533,0,537,0,537,537,537
117,489,489,489,489,489,489,0,485,485,0,489,0,489,489,489
128,530,530,530,530,530,530,0,528,528,0,530,0,530,530,530
131,524,524,524,524,524,524,0,523,523,0,524,0,524,524,524
135,518,518,518,518,518,518,0,515,515,0,518,0,518,518,518
181,493,493,493,493,493,493,0,491,491,0,493,0,493,493,493
186,522,522,522,522,522,522,0,520,520,0,522,0,522,522,522
194,511,511,511,511,511,511,0,511,511,0,511,0,511,511,511

In [10]:
# Agrupar df_competencia por id_hotel
hoteles_competencia = df_competencia.groupby('id_hotel')

# Crear una lista de los valores de df_competencia_scrapping
valores = df_competencia_scrapping[["nombre", "rating", "precio_noche", "fecha_reserva"]].values.tolist()


# Iterar sobre los grupos y asignar valores secuenciales
for i, (id_hotel, grupos_df_competencia) in enumerate(hoteles_competencia):

    # Obtener valores de df_competencia_scrapping
    nombre = valores[i][0]
    rating = valores[i][1]
    precio_noche = valores[i][2]
    fecha_reserva = valores[i][3]

    
    # Asignar los valores a los registros del grupo:

    # Asignamos a la columna nombre_hotel del df_competencia agrupados por id_hotel el nombre del elemento id de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'nombre_hotel'] = nombre

    # Asignamos a la columna estrellas del df_competencia agrupados por id_hotel las estrellas del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'estrellas'] = rating

    # Asignamos a la columna precio_noche del df_competencia agrupados por id_hotel el precio_noche del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'precio_noche'] = precio_noche

    # Asignamos a la columna fecha_reserva del df_competencia agrupados por id_hotel la fecha_reserva del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'fecha_reserva'] = fecha_reserva

In [11]:
df_competencia.head()

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad,nombre_completo,nombre_completo_mail
0,5256cc90-139b-43d2-8ec5-412495d751cf,5311,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-02-25,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,Madrid,Feliciana Cantón,Feliciana Cantón feliciana.cantón@example.com
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,8310,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-02-25,2025-03-01,2025-03-02,194,154.0,Novotel Madrid Campo de las Naciones,4.5,Madrid,Leonardo Hierro,Leonardo Hierro leonardo.hierro@example.com
7,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,8047,Judith,Rivas,judith.rivas@example.com,True,2025-02-25,2025-03-01,2025-03-02,131,95.0,Ibis Budget Madrid Calle Alcalá,4.3,Madrid,Judith Rivas,Judith Rivas judith.rivas@example.com
9,458029ad-cc9b-4d85-8290-fec170bcc02d,204,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-02-25,2025-03-01,2025-03-02,114,172.0,ibis Madrid Centro las Ventas,4.5,Madrid,Adolfo Cuervo,Adolfo Cuervo adolfo.cuervo@example.com
11,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,9762,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-02-25,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,Madrid,María Carmen Navarro,María Carmen Navarro maría carmen.navarro@exam...

In [12]:
df_hoteles_id = df_competencia.groupby(["nombre_hotel", "id_hotel"]).count()
df_hoteles_id

,,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,precio_noche,estrellas,ciudad,nombre_completo,nombre_completo_mail
nombre_hotel,id_hotel,,,,,,,,,,,,,,
Ibis Budget Madrid Calle Alcalá,131,524,524,524,524,524,524,524,523,523,524,524,524,524,524
Ibis Madrid Calle Alcalá,135,518,518,518,518,518,518,518,515,515,518,518,518,518,518
Novotel Madrid Campo de las Naciones,194,511,511,511,511,511,511,511,511,511,511,511,511,511,511
Novotel Madrid Center,103,533,533,533,533,533,533,533,533,533,533,533,533,533,533
Novotel Madrid City Las Ventas,128,530,530,530,530,530,530,530,528,528,530,530,530,530,530
Pullman Madrid Airport & Feria,186,522,522,522,522,522,522,522,520,520,522,522,522,522,522
ibis Madrid Centro las Ventas,114,537,537,537,537,537,537,537,533,533,537,537,537,537,537
ibis budget Madrid Calle 30,113,515,515,515,515,515,515,515,510,510,515,515,515,515,515
ibis budget Madrid Centro las Ventas,117,489,489,489,489,489,489,489,485,485,489,489,489,489,489
ibis budget Madrid Vallecas,181,493,493,493,493,493,493,493,491,491,493,493,493,493,493

- Confirmamos que hay un id para cada uno de los 10 hoteles de la competencia

In [13]:
nulos_porcentaje = round((df_competencia.isnull().sum() / len(df_competencia)) * 100, 2)
nulos_porcentaje = nulos_porcentaje[nulos_porcentaje > 0]
print(nulos_porcentaje)

inicio_estancia    0.44
final_estancia     0.44
dtype: float64

In [14]:
df_competencia["inicio_estancia"].unique()

<DatetimeArray>
['2025-03-01 00:00:00', 'NaT']
Length: 2, dtype: datetime64[ns]

In [15]:
fecha_inicio = df_competencia["inicio_estancia"].dropna().unique()[0]
df_competencia["inicio_estancia"] = df_competencia["inicio_estancia"].fillna(fecha_inicio)

In [16]:
df_competencia["inicio_estancia"].unique()

<DatetimeArray>
['2025-03-01 00:00:00']
Length: 1, dtype: datetime64[ns]

In [17]:
df_competencia["final_estancia"].unique()

<DatetimeArray>
['2025-03-02 00:00:00', 'NaT']
Length: 2, dtype: datetime64[ns]

In [18]:
fecha_fin = df_competencia["final_estancia"].dropna().unique()[0]
df_competencia["final_estancia"] = df_competencia["final_estancia"].fillna(fecha_fin)

In [19]:
df_competencia["final_estancia"].unique()

<DatetimeArray>
['2025-03-02 00:00:00']
Length: 1, dtype: datetime64[ns]

In [20]:
nulos_porcentaje = round((df_competencia.isnull().sum() / len(df_competencia)) * 100, 2)
nulos_porcentaje = nulos_porcentaje[nulos_porcentaje > 0]
print(nulos_porcentaje)

Series([], dtype: float64)

- Sin nulos enn ningún dataframe

In [21]:
df_competencia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5172 entries, 0 to 14998
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_reserva            5172 non-null   object
 1   id_cliente            5172 non-null   int64
 2   nombre                5172 non-null   object
 3   apellido              5172 non-null   object
 4   mail                  5172 non-null   object
 5   competencia           5172 non-null   bool
 6   fecha_reserva         5172 non-null   datetime64[ns]
 7   inicio_estancia       5172 non-null   datetime64[ns]
 8   final_estancia        5172 non-null   datetime64[ns]
 9   id_hotel              5172 non-null   int64
 10  precio_noche          5172 non-null   float64
 11  nombre_hotel          5172 non-null   object
 12  estrellas             5172 non-null   float64
 13  ciudad                5172 non-null   object
 14  nombre_completo       5172 non-null   object
 15  nombre_completo_mail  5172 non-null   object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(2), object(8)
memory usage: 651.6+ KB

In [22]:
df_propios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9828 entries, 2 to 14999
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_reserva            9828 non-null   object
 1   id_cliente            9828 non-null   int64
 2   nombre                9828 non-null   object
 3   apellido              9828 non-null   object
 4   mail                  9828 non-null   object
 5   competencia           9828 non-null   bool
 6   fecha_reserva         9828 non-null   datetime64[ns]
 7   inicio_estancia       9828 non-null   datetime64[ns]
 8   final_estancia        9828 non-null   datetime64[ns]
 9   id_hotel              9828 non-null   int64
 10  precio_noche          9828 non-null   float64
 11  nombre_hotel          9828 non-null   object
 12  estrellas             9828 non-null   float64
 13  ciudad                9828 non-null   object
 14  nombre_completo       9828 non-null   object
 15  nombre_completo_mail  9828 non-null   object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(2), object(8)
memory usage: 1.2+ MB

In [23]:
df_final = pd.concat([df_propios, df_competencia], ignore_index=True)
df_final

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad,nombre_completo,nombre_completo_mail
0,40c4cb55-d1f5-407b-832f-4756b8ff77b4,9063,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,12,119.96,Hotel Monte Verde,1.0,Madrid,Maite Calatayud,Maite Calatayud maite.calatayud@example.com
1,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,13646,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,2,211.53,Hotel Brisas del Mar,5.0,Madrid,Tecla Bonet,Tecla Bonet tecla.bonet@example.com
2,57d4515a-447d-4067-afcb-9bdcf4e4e915,993,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,3,378.37,Hotel Camino del Sol,1.0,Madrid,Amílcar Andrés,Amílcar Andrés amílcar.andrés@example.com
3,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,7371,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-02,14,85.45,Hotel Puerta del Cielo,5.0,Madrid,Joan Vazquez,Joan Vazquez joan.vazquez@example.com
4,99c3dc4f-663c-45f7-849a-ac9313f3746a,2839,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-02,5,309.80,Hotel Encanto Real,1.0,Madrid,Chelo Flor,Chelo Flor chelo.flor@example.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,e856adee-838c-4031-920c-05ec5f1e32e6,7312,Jesusa,Espinosa,jesusa.espinosa@example.com,True,2025-02-25,2025-03-01,2025-03-02,135,119.00,Ibis Madrid Calle Alcalá,4.5,Madrid,Jesusa Espinosa,Jesusa Espinosa jesusa.espinosa@example.com
14996,77134049-6e4f-49b0-a6f8-93b7466b1c22,3479,Cruz,Hurtado,cruz.hurtado@example.com,True,2025-02-25,2025-03-01,2025-03-02,128,173.00,Novotel Madrid City Las Ventas,4.6,Madrid,Cruz Hurtado,Cruz Hurtado cruz.hurtado@example.com
14997,19aef6f3-3e85-4719-9dff-b768d9bfe5a9,7539,Jose Francisco,Cortes,jose francisco.cortes@example.com,True,2025-02-25,2025-03-01,2025-03-02,186,129.00,Pullman Madrid Airport & Feria,4.2,Madrid,Jose Francisco Cortes,Jose Francisco Cortes jose francisco.cortes@ex...
14998,aa092c3e-7fe6-4985-a5a8-cacd38554b1b,13982,Toño,Narváez,toño.narváez@example.com,True,2025-02-25,2025-03-01,2025-03-02,114,172.00,ibis Madrid Centro las Ventas,4.5,Madrid,Toño Narváez,Toño Narváez toño.narváez@example.com
14999,6d1f590c-ae87-4582-bc99-9b8cbf1d8e28,3524,Custodia,Marco,custodia.marco@example.com,True,2025-02-25,2025-03-01,2025-03-02,194,154.00,Novotel Madrid Campo de las Naciones,4.5,Madrid,Custodia Marco,Custodia Marco custodia.marco@example.com