In [28]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [29]:
df_competencia_scrapping = pd.read_pickle("../data/web_scrapping/hoteles_competencia_info_scrapping.pkl")
df_competencia = pd.read_pickle("../data/limpieza/hoteles_competencia.pkl")
df_propios = pd.read_pickle("../data/limpieza/hoteles_propios.pkl")

In [30]:
df_competencia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5172 entries, 0 to 14998
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       5172 non-null   object
 1   id_cliente       5172 non-null   int64
 2   nombre           5172 non-null   object
 3   apellido         5172 non-null   object
 4   mail             5172 non-null   object
 5   competencia      5172 non-null   bool
 6   fecha_reserva    0 non-null      datetime64[ns]
 7   inicio_estancia  5172 non-null   datetime64[ns]
 8   final_estancia   5172 non-null   datetime64[ns]
 9   id_hotel         5172 non-null   int64
 10  precio_noche     0 non-null      float64
 11  nombre_hotel     5172 non-null   object
 12  valoracion       0 non-null      float64
 13  ciudad           5172 non-null   object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(2), object(6)
memory usage: 570.7+ KB

REASIGNAR ID A CADA HOTEL Y ASIGNAR LOS VALORES DEL WEB SCRAPPING

In [31]:
hoteles_competencia = df_competencia.groupby('id_hotel')

valores = df_competencia_scrapping[["nombre", "rating", "precio_noche", "fecha_reserva"]].values.tolist()


# Iterar sobre los grupos y asignar valores secuenciales
for i, (id_hotel, grupos_df_competencia) in enumerate(hoteles_competencia):

    # Obtener valores de df_competencia_scrapping
    nombre = valores[i][0]
    rating = valores[i][1]
    precio_noche = valores[i][2]
    fecha_reserva = valores[i][3]

    
    # Asignar los valores a los registros del grupo:

    # Asignamos a la columna nombre_hotel del df_competencia agrupados por id_hotel el nombre del elemento id de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'nombre_hotel'] = nombre

    # Asignamos a la columna estrellas del df_competencia agrupados por id_hotel las estrellas del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'valoracion'] = rating

    # Asignamos a la columna precio_noche del df_competencia agrupados por id_hotel el precio_noche del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'precio_noche'] = precio_noche

    # Asignamos a la columna fecha_reserva del df_competencia agrupados por id_hotel la fecha_reserva del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'fecha_reserva'] = fecha_reserva

VERIFICAR CAMBIOS

In [32]:
for i, (hotel, grupo) in enumerate(df_competencia.groupby("id_hotel")):
    display(grupo.sample(5))

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
9796,94f73dd0-d030-4b89-844b-1a9febc920cf,9072,Maite,Robles,maite.robles@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
1763,fd93192a-253a-45b8-b031-67446781b858,8821,Luis Miguel,Cano,luis miguel.cano@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
10936,93c8c866-e830-442a-a0f9-a68a532f0601,14565,Yago,Gutiérrez,yago.gutiérrez@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
6336,01e01d95-51f9-4406-ad60-69cb492ec978,7623,Jose Ramón,Figuerola,jose ramón.figuerola@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
10667,2dfd8524-b8f2-44f2-a6c1-0a79e01f6d6d,10307,Mirta,Alberto,mirta.alberto@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
3445,5f1640d9-fa3d-42e0-b2d1-c83bf86e9414,8126,Julio César,Parra,julio césar.parra@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
14898,6cae6942-2d71-41ae-b22d-ec49ebe02bd7,5176,Fabiola,Pedraza,fabiola.pedraza@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
2507,09d7a75b-d46c-4245-8bbc-73aaa9ca24be,13860,Tiburcio,Ochoa,tiburcio.ochoa@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
10544,f3737380-fca3-45e6-b24f-6228ed069d73,12220,René,Jordán,rené.jordán@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
10024,daf3eb49-180a-43ed-8e4b-0de57fb6687a,1387,Araceli,Torres,araceli.torres@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
650,3cc55a31-f69a-4284-bb5c-724ebabe0da8,9837,María Fernanda,Riera,maría fernanda.riera@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
10678,9dc6fa5c-c977-407d-9ae1-8de346c68b82,4022,Dulce,Aller,dulce.aller@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
9107,4103a6a5-c6b6-4da1-90e6-9e76fbd667ce,14772,Ángel,Martínez,ángel.martínez@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
8728,aaeafae3-33f2-4b3a-80af-c89ca348a62e,8130,Julio,Correa,julio.correa@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
14271,a3bd4f6d-909d-484b-93bf-b5c059b96838,7742,José Manuel,Báez,josé manuel.báez@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
12151,083359f0-21f5-4b27-8419-c999e200ad2c,9979,Mateo,Zapata,mateo.zapata@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
13624,a16c7b3f-8b71-412e-a332-5c98742ccb72,9592,Marisa,Lledó,marisa.lledó@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
13342,20f49a1a-0db2-4deb-a6a9-420bef39d90c,1862,Beatriz,Paredes,beatriz.paredes@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
10600,645e1e13-9e52-4d01-9903-593dcc752482,7234,Jennifer,Garzón,jennifer.garzón@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
1466,086e805d-9062-4d48-90ec-e93ca4bffcd8,2310,Camila,Antúnez,camila.antúnez@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
245,3e28a2b6-6d4d-469a-b4f6-42d79bd08c33,9324,Marcia,Muro,marcia.muro@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
14918,b31acfaf-3735-4301-81ee-3ee1a4f23927,2065,Berto,Martin,berto.martin@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
13968,0c8571d2-cafe-4fd9-b363-4e55af51205f,10497,Nacho,Villalba,nacho.villalba@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
1436,4e7cb734-3664-483b-a66c-6e52d12a3ac7,11373,Paloma,Farré,paloma.farré@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
13847,7bf2bc77-596f-474a-8062-d2436aa0cd48,8605,Lope,Camino,lope.camino@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
1628,7c68045a-092d-4b34-9832-706e7c4305e5,9565,Marino,Ocaña,marino.ocaña@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
8059,f8503d4f-8480-4950-9c75-e664d4c7188d,13458,Sol,Aliaga,sol.aliaga@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
1399,ccfdd81b-d13a-4bc3-a6ff-74742454b429,6815,Irene,Ríos,irene.ríos@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
13651,3553be31-be2c-4f91-815e-023feedfb009,4408,Eloísa,Álvaro,eloísa.álvaro@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
6270,4c3bdecd-8221-4809-bbeb-80166c301b1f,5502,Filomena,Somoza,filomena.somoza@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
2728,970f01bc-9527-4718-86a2-cb988e815f21,4046,Débora,Manso,débora.manso@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
14989,e856adee-838c-4031-920c-05ec5f1e32e6,7312,Jesusa,Espinosa,jesusa.espinosa@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
8496,0eefa481-090f-4d99-b696-f3df648c5bf2,13363,Silvestre,Catalán,silvestre.catalán@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
7676,98dc0e9b-3fd3-4f8d-be5e-0f7f4811821e,7362,Joan,Blázquez,joan.blázquez@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
1358,e5d8abee-a4d4-4232-8492-3cad7506b774,11921,Quique,Arcos,quique.arcos@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
6271,59cee8eb-be41-42eb-8f01-a1592d5518fb,14632,Zacarías,Garrido,zacarías.garrido@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
10209,00b4ea73-a974-451c-a1a9-ed332d578189,10963,Nuria,Jaume,nuria.jaume@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
12654,bff6c5ad-c9a6-438c-b4c0-4a66d086d640,4399,Eloísa,Giménez,eloísa.giménez@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
7258,21a7a849-35a7-4658-836c-6321544a64ed,8502,Liliana,Cánovas,liliana.cánovas@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
3775,2067f1d9-25df-4100-b42a-1b784e360e86,14022,Trinidad,Moll,trinidad.moll@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
3930,9751bbce-6370-4c4b-a62a-769ada965aed,13781,Teresa,Cortes,teresa.cortes@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
1860,da7fb78c-c6bd-4527-b583-fdce5f0ad44a,3162,Cloe,Gelabert,cloe.gelabert@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
3004,384d2319-30c6-4c09-ba63-807c932e4d97,1777,Balduino,Losada,balduino.losada@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
11442,5d2daaf9-edc0-437d-9530-46e74fbf7216,13443,Sofía,Martín,sofía.martín@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
13524,31cdb784-16e9-4a24-a563-6a0381ba5d1a,10707,Nerea,Amorós,nerea.amorós@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
9056,16ddfddf-d286-4c73-a4e1-89118ac9fc81,6185,Graciano,Camps,graciano.camps@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
3138,5657f9ed-bbef-43dd-9c76-e0cec479d9be,569,Alejandro,Sanchez,alejandro.sanchez@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
14822,23ed81bc-51e4-441e-820a-97cdef69a756,10467,Máximo,Sosa,máximo.sosa@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
1475,d06a89ed-2bea-4e7d-a68a-9538a31a71ee,14468,Viviana,Pedro,viviana.pedro@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
13125,f2b49764-c013-42e5-9f4a-66cd928b2933,2668,Cebrián,Casado,cebrián.casado@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,

In [33]:
df_competencia.to_pickle("../data/limpieza/hoteles_competencia_completo.pkl")

UNIR DATAFRAMES

In [34]:
df_final = pd.concat([df_propios, df_competencia], ignore_index=True)
df_final.sample(5)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
2745,2a49268e-0909-4b6c-8a4a-bf9bd7550fbc,3340,Cornelio,Lamas,cornelio.lamas@example.com,False,2025-02-12,2025-03-01,2025-03-02,5,476.81,Hotel Encanto Real,3.03,Madrid
8923,5afc50c4-2a2e-4f9d-8a94-e479f56f5ab9,8748,Luciana,Cervantes,luciana.cervantes@example.com,False,2025-02-07,2025-03-01,2025-03-02,8,97.04,Hotel Los Almendros,3.01,Madrid
12599,e997a678-3fef-4bed-884d-2da479f81528,1605,Asunción,Zabala,asunción.zabala@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.00,Novotel Madrid Campo de las Naciones,4.50,
3473,489c4251-626b-4337-a314-9c5370e9e1fd,7448,Jordana,Medina,jordana.medina@example.com,False,2025-02-03,2025-03-01,2025-03-02,3,85.72,Hotel Camino del Sol,3.07,Madrid
11654,fddb14b6-8daa-4af8-ac76-aacbddf3083f,7311,Jesusa,Coronado,jesusa.coronado@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.00,ibis Madrid Calle Alcalá,4.50,

In [35]:
df_final["ciudad"] = df_final["ciudad"].replace("", "Madrid")
print(df_final["ciudad"].unique())

['Madrid']

In [36]:
df_final['id_ciudad'] = df_final.groupby('ciudad').ngroup() + 1

df_final['id_hotel'] = df_final.groupby('nombre_hotel').ngroup() + 1

In [37]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15000 non-null  object
 1   id_cliente       15000 non-null  int64
 2   nombre           15000 non-null  object
 3   apellido         15000 non-null  object
 4   mail             15000 non-null  object
 5   competencia      15000 non-null  bool
 6   fecha_reserva    15000 non-null  datetime64[ns]
 7   inicio_estancia  15000 non-null  datetime64[ns]
 8   final_estancia   15000 non-null  datetime64[ns]
 9   id_hotel         15000 non-null  int64
 10  precio_noche     15000 non-null  float64
 11  nombre_hotel     15000 non-null  object
 12  valoracion       15000 non-null  float64
 13  ciudad           15000 non-null  object
 14  id_ciudad        15000 non-null  int64
dtypes: bool(1), datetime64[ns](3), float64(2), int64(3), object(6)
memory usage: 1.6+ MB

**REVISAR LOS CLIENTES QUE TIENEN RESERVAS EN > 1 HOTEL PARA EL MISMO FIN DE SEMANA TRAS LA CARGA DE DATOS DE API Y WEB SCRAPPING**

In [38]:
reservas_cliente = df_final.groupby("id_cliente")["id_reserva"].count()
clientes_multiples_reservas = reservas_cliente[reservas_cliente > 1]
len(clientes_multiples_reservas) # 93 clientes con > 1 reserva
clientes_multiples_reservas.unique() # Sólo hay clientes con 2 o 3 reservas

clientes_multiples_reservas = reservas_cliente[reservas_cliente > 2]
len(clientes_multiples_reservas) # 2 clientes con 3 reservas

2

In [39]:
clientes_doble_reserva = reservas_cliente[reservas_cliente == 2]
print(len(clientes_doble_reserva)) # 91 clientes don 2 reservas

clientes_triple_reserva = reservas_cliente[reservas_cliente == 3]
print(len(clientes_triple_reserva)) # 2 clientes con 3 reservas

91
2

Para comprar entre reservas, vamos a asignar una categoria a cada hotel en función de su precio.

**SABEMOS QUE SOLO TENEMOS DATOS DE CLIENTES QUE HAN HECHO DE 1 A 3 RESERVAS, POR LO QUE EL DESAJUSTE NO SERÍA REAL YA QUE AL FINAL ESTAS RESERVAS SE CANCELARÍAN AL SER PARA LA MISMA FECHA DE ESTANCIA. ASÍ QUE, PARA CALCULAR EL TIPO DE CLIENTE CREAMOS UNA NUEVA COLUMNA QUE SIMILA EL GASTO MEDIO DE ESE CLIENTE DE MANERA HISTÓRICA:**

TIPO CLIENTE

In [40]:
# Calcular el gasto de cada cliente
df_final["gasto_cliente"] = df_final["precio_noche"] * (df_final["final_estancia"] - df_final["inicio_estancia"]).dt.days

variacion = np.random.uniform(0.5, 1.5, size=df_final.shape[0]) # Generar una variación del 50% (0.5 --> -50% y 1.5 --> +50%)
# np.random.uniform(low=0.0, high=1.0, size=None)
# low (por defecto 0.0) --> límite inferior del rango 
# high (por defecto 1.0) --> límite superior del rango.
# size (opcional) --> Indica cuántos números generar.

df_final["gasto_medio_cliente_simulado"] = (df_final["precio_noche"] * variacion).round(2)

In [41]:
df_final

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad,gasto_cliente,gasto_medio_cliente_simulado
0,40c4cb55-d1f5-407b-832f-4756b8ff77b4,9063,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,12,119.96,Hotel Monte Verde,3.10,Madrid,1,119.96,117.66
1,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,13646,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,2,211.53,Hotel Brisas del Mar,3.09,Madrid,1,211.53,250.38
2,57d4515a-447d-4067-afcb-9bdcf4e4e915,993,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,3,378.37,Hotel Camino del Sol,3.07,Madrid,1,378.37,235.08
3,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,7371,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-02,14,85.45,Hotel Puerta del Cielo,3.03,Madrid,1,85.45,117.42
4,99c3dc4f-663c-45f7-849a-ac9313f3746a,2839,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-02,5,309.80,Hotel Encanto Real,3.03,Madrid,1,309.80,340.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,e856adee-838c-4031-920c-05ec5f1e32e6,7312,Jesusa,Espinosa,jesusa.espinosa@example.com,True,2025-02-26,2025-03-01,2025-03-02,29,107.00,ibis budget Madrid Vallecas,4.30,Madrid,1,107.00,71.77
14996,77134049-6e4f-49b0-a6f8-93b7466b1c22,3479,Cruz,Hurtado,cruz.hurtado@example.com,True,2025-02-26,2025-03-01,2025-03-02,27,95.00,ibis budget Madrid Calle Alcalá,4.30,Madrid,1,95.00,107.47
14997,19aef6f3-3e85-4719-9dff-b768d9bfe5a9,7539,Jose Francisco,Cortes,jose francisco.cortes@example.com,True,2025-02-26,2025-03-01,2025-03-02,19,154.00,Novotel Madrid Campo de las Naciones,4.50,Madrid,1,154.00,157.95
14998,aa092c3e-7fe6-4985-a5a8-cacd38554b1b,13982,Toño,Narváez,toño.narváez@example.com,True,2025-02-26,2025-03-01,2025-03-02,28,119.00,ibis budget Madrid Centro las Ventas,4.30,Madrid,1,119.00,90.96
14999,6d1f590c-ae87-4582-bc99-9b8cbf1d8e28,3524,Custodia,Marco,custodia.marco@example.com,True,2025-02-26,2025-03-01,2025-03-02,24,116.00,ibis Madrid Aeropuerto Barajas,4.40,Madrid,1,116.00,167.76

In [42]:
# Usamos pd.cut() para dividir los clientes y los hoteles en categorías
# pd.cut()
# PARÁMETROS
# pd.cut(x, bins, labels=None, right=True, include_lowest=False, duplicates='raise')
    # x	--> Columna con datos numéricos a segmentar.
    # bins --> Lista de límites que definen los grupos.
    # labels --> Etiquetas opcionales para cada grupo.
    # right	-->	True: el límite superior es incluido en cada grupo.
    # include_lowest --> True: incluye el límite inferior en el primer bin.
    # duplicates --> Maneja valores duplicados en bins.

In [43]:

# Asignar cómo vamos a partir los datos
percentiles = df_final["gasto_medio_cliente_simulado"].quantile([0.25, 0.50, 0.75])
gasto_min = df_final["gasto_medio_cliente_simulado"].min()
gasto_max = df_final["gasto_medio_cliente_simulado"].max()

lista_bins_clientes = [gasto_min, percentiles[0.25], percentiles[0.50], percentiles[0.75], gasto_max]


df_final["categoria_cliente"] = pd.cut(
    df_final["gasto_medio_cliente_simulado"],
    bins = lista_bins_clientes,
    labels = ["Low Cost", "Medio", "High Ticket", "Luxury"],
    include_lowest=True # No me cogía el cliente con el gasto mínimo pq por defecto pd.cut() coge los límite superiores, pero no inferiores. Con este parámetro aseguramos que el cliente con el valor mínimo también se le asigne una categoría
    )

TIPO HOTEL

In [44]:
precio_hoteles = df_final.groupby("nombre_hotel")["precio_noche"].mean().round(2).reset_index()

percentiles = precio_hoteles["precio_noche"].quantile([0.25, 0.50, 0.75])
ingreso_min = precio_hoteles.min().iloc[1]
ingreso_max = precio_hoteles.max().iloc[1]

lista_bins_hoteles = [ingreso_min, percentiles[0.25], percentiles[0.50], percentiles[0.75], ingreso_max]


precio_hoteles["categoria_hotel"] = pd.cut(
    precio_hoteles["precio_noche"],
    bins = lista_bins_hoteles,
    labels = ["Low Cost", "Medio", "High Ticket", "Luxury"],
    include_lowest=True
    )

In [45]:
df_final = df_final.merge(precio_hoteles[["nombre_hotel", "categoria_hotel"]], on="nombre_hotel", how="left")

In [46]:
df_final.sample(7)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad,gasto_cliente,gasto_medio_cliente_simulado,categoria_cliente,categoria_hotel
2502,605a042f-92ab-4423-9505-f2ed9d6717f2,460,Albert,Sánchez,albert.sánchez@example.com,False,2025-02-06,2025-03-01,2025-03-02,15,209.61,Hotel Rincón Sereno,3.00,Madrid,1,209.61,279.51,High Ticket,Luxury
1933,5d1342de-501b-457d-acc8-67de30c98923,10397,Morena,Arce,morena.arce@example.com,False,2025-02-03,2025-03-01,2025-03-02,16,115.80,Hotel Sol y Luna,3.01,Madrid,1,115.80,87.09,Low Cost,Medio
3052,10d7db2a-3d86-4eed-a956-cf7814645f20,2964,Cipriano,Vendrell,cipriano.vendrell@example.com,False,2025-02-05,2025-03-01,2025-03-02,3,477.30,Hotel Camino del Sol,3.07,Madrid,1,477.30,547.45,Luxury,Medio
4192,b46d7dd9-7692-4ba9-a2f6-eef902296ce9,390,Aitana,Alfonso,aitana.alfonso@example.com,False,2025-02-01,2025-03-01,2025-03-02,11,206.19,Hotel Mirador Real,2.98,Madrid,1,206.19,137.18,Medio,High Ticket
12977,a6c4d6d2-7c15-41a5-8f23-6e427054bfef,2372,Candelaria,Piña,candelaria.piña@example.com,True,2025-02-26,2025-03-01,2025-03-02,23,129.00,Pullman Madrid Airport & Feria,4.20,Madrid,1,129.00,90.98,Low Cost,Low Cost
6284,3599028d-56ee-4a76-b38e-43a9bea90fba,7501,Jose Angel,Correa,jose angel.correa@example.com,False,2025-02-01,2025-03-01,2025-03-02,4,218.25,Hotel Costa Azul,3.12,Madrid,1,218.25,168.65,Medio,Luxury
11018,9133c9a7-3e84-409c-8133-1a7447f9077b,353,Agustín,Rodrigo,agustín.rodrigo@example.com,True,2025-02-26,2025-03-01,2025-03-02,20,255.00,Novotel Madrid Center,4.60,Madrid,1,255.00,270.48,High Ticket,Medio

In [47]:
def tipo_reserva(row):
    categorias = ["Low Cost", "Medio", "High Ticket", "Luxury"]

    cliente = row["categoria_cliente"]
    hotel = row["categoria_hotel"]

    indice_cliente = categorias.index(cliente)
    indice_hotel = categorias.index(hotel)

    if indice_cliente == indice_hotel:
        return "Igual"
    elif indice_cliente < indice_hotel:
        return "Upgrade"
    else:
        return "Downgrade"

df_final["Tipo_Reserva"] = df_final.apply(tipo_reserva, axis=1)

AHORA QUE YA SABEMOS EL TIPO DE HOTEL QUE EL CLIENTE SUELE RESERVAR Y EL TIPO DE HOTEL QUE HA RESERVADO, PODEMOS COMPARAR PARA LOS QUE HAN HECHO VARIAS RESERVAS
- QUÉ RESERVA SE AJUSTA MÁS A SU TIPO --> LO QUE A PRIORI SERÍA UNA ALTA PROBABILIDAD DE CANCELACIÓN DE LA OTRA RESERVA

CLIENTES 2 RESERVAS

In [48]:

df_clientes_doble_reservas = df_final[df_final["id_cliente"].isin(clientes_doble_reserva.index)].sort_values("id_cliente")
df_clientes_doble_reservas

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad,gasto_cliente,gasto_medio_cliente_simulado,categoria_cliente,categoria_hotel,Tipo_Reserva
4471,b508e55f-d124-473f-9874-75c9181bec76,36,Abigaíl,Ayala,abigaíl.ayala@example.com,False,2025-02-12,2025-03-01,2025-03-02,4,449.69,Hotel Costa Azul,3.12,Madrid,1,449.69,236.91,High Ticket,Luxury,Upgrade
6260,8185208b-6e0a-4685-9adb-a2c238be6a57,36,Abigaíl,Ayala,abigaíl.ayala@example.com,False,2025-02-08,2025-03-01,2025-03-02,17,342.20,Hotel Torre Dorada,2.92,Madrid,1,342.20,381.13,Luxury,High Ticket,Downgrade
1996,868a22d6-890a-4533-9db7-d5f2317e0598,110,Adalberto,Atienza,adalberto.atienza@example.com,False,2025-02-10,2025-03-01,2025-03-02,16,109.33,Hotel Sol y Luna,3.01,Madrid,1,109.33,116.42,Medio,Medio,Igual
928,6082511b-a1ea-4f53-b0fc-4b1d3e0a1726,110,Adalberto,Atienza,adalberto.atienza@example.com,False,2025-02-07,2025-03-01,2025-03-02,16,252.52,Hotel Sol y Luna,3.01,Madrid,1,252.52,239.79,High Ticket,Medio,Downgrade
6148,578c476d-03fd-47a6-87c3-0ff77a8bdfdd,246,Adoración,Pol,adoración.pol@example.com,False,2025-02-06,2025-03-01,2025-03-02,15,404.63,Hotel Rincón Sereno,3.00,Madrid,1,404.63,549.70,Luxury,Luxury,Igual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12380,3fa92090-96a0-4020-b91c-0aaa506df973,14294,Victor,Redondo,victor.redondo@example.com,True,2025-02-26,2025-03-01,2025-03-02,21,173.00,Novotel Madrid City Las Ventas,4.60,Madrid,1,173.00,91.54,Low Cost,Medio,Upgrade
7672,27f40c56-89be-4b53-9895-b02bbc11416b,14657,Zaida,Palomo,zaida.palomo@example.com,False,2025-02-01,2025-03-01,2025-03-02,14,338.63,Hotel Puerta del Cielo,3.03,Madrid,1,338.63,206.27,High Ticket,Luxury,Upgrade
10287,cab75224-c165-4146-997b-0a8b99086ba5,14657,Zaida,Palomo,zaida.palomo@example.com,True,2025-02-26,2025-03-01,2025-03-02,19,154.00,Novotel Madrid Campo de las Naciones,4.50,Madrid,1,154.00,174.37,Medio,Low Cost,Downgrade
8624,305ee50c-ff72-4fb8-88fa-b1a879e66852,14811,Ángeles,Nuñez,ángeles.nuñez@example.com,False,2025-02-03,2025-03-01,2025-03-02,22,474.09,Palacio del Sol,2.99,Madrid,1,474.09,657.36,Luxury,Luxury,Igual
7335,2254a5f0-e7c9-4c1b-8c33-78c053f16ff6,14811,Ángeles,Nuñez,ángeles.nuñez@example.com,False,2025-02-04,2025-03-01,2025-03-02,5,222.56,Hotel Encanto Real,3.03,Madrid,1,222.56,305.12,High Ticket,Luxury,Upgrade

CLIENTRES 3 RESERVAS

In [49]:
df_clientes_triple_reservas = df_final[df_final["id_cliente"].isin(clientes_triple_reserva.index)].sort_values("id_cliente")
df_clientes_triple_reservas

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad,gasto_cliente,gasto_medio_cliente_simulado,categoria_cliente,categoria_hotel,Tipo_Reserva
1785,05cf7a10-3af2-4e04-bedf-d8d796460e34,1410,Ariadna,Miguel,ariadna.miguel@example.com,False,2025-02-07,2025-03-01,2025-03-02,1,175.26,Gran Hotel Madrid,3.07,Madrid,1,175.26,261.30,High Ticket,Medio,Downgrade
4246,f5e75c3f-26a1-4f90-b69d-793ba6bd911e,1410,Ariadna,Miguel,ariadna.miguel@example.com,False,2025-02-02,2025-03-01,2025-03-02,2,214.68,Hotel Brisas del Mar,3.09,Madrid,1,214.68,123.92,Medio,High Ticket,Upgrade
9314,28f614a4-f2c5-4079-9a82-4942426a6f6c,1410,Ariadna,Miguel,ariadna.miguel@example.com,False,2025-02-07,2025-03-01,2025-03-02,4,305.72,Hotel Costa Azul,3.12,Madrid,1,305.72,242.53,High Ticket,Luxury,Upgrade
3046,264e8d8a-cf96-40e6-b39d-88a857840ed9,14329,Victoriano,Ródenas,victoriano.ródenas@example.com,False,2025-02-05,2025-03-01,2025-03-02,12,167.32,Hotel Monte Verde,3.10,Madrid,1,167.32,153.84,Medio,High Ticket,Upgrade
8138,bcd8c15f-6190-497a-9031-873f9f34c950,14329,Victoriano,Ródenas,victoriano.ródenas@example.com,False,2025-02-10,2025-03-01,2025-03-02,12,392.54,Hotel Monte Verde,3.10,Madrid,1,392.54,544.17,Luxury,High Ticket,Downgrade
12009,5f4d7519-6a4f-4a62-98ab-f164ccd8e1e1,14329,Victoriano,Ródenas,victoriano.ródenas@example.com,True,2025-02-26,2025-03-01,2025-03-02,23,129.00,Pullman Madrid Airport & Feria,4.20,Madrid,1,129.00,138.87,Medio,Low Cost,Downgrade

In [54]:
# df_final.drop(columns = "Probabilidad_Cancelacion", inplace = True)


def probabilidad_cancelacion(row):
    
    if row["Tipo_Reserva"] == "Igual":
        return "Baja"
    
    
    if row["precio_noche"] == 0 or pd.isna(row["precio_noche"]) or pd.isna(row["gasto_medio_cliente_simulado"]):
        return "Desconocida"
    
    # Calcular qué tan caro o barato es el hotel en comparación con lo que el cliente suele gastar
    dif = abs((row["precio_noche"] - row["gasto_medio_cliente_simulado"]) / row["gasto_medio_cliente_simulado"]) * 100 # Usamos abs para convertir todos los valores a positivos y evitar evaluar también los rangos negativos en los if-else
    
    
    if 0 <= dif <= 15:
        return "Baja"
    elif 15 < dif <= 30:
        return "Moderada"
    elif 30 < dif <= 50:
        return "Alta"
    else:
        return "Muy Alta"


df_final["Probabilidad_Cancelacion"] = df_final.apply(probabilidad_cancelacion, axis=1)

In [55]:

df_final

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad,gasto_cliente,gasto_medio_cliente_simulado,categoria_cliente,categoria_hotel,Tipo_Reserva,Probabilidad_Cancelacion
0,40c4cb55-d1f5-407b-832f-4756b8ff77b4,9063,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,12,119.96,Hotel Monte Verde,3.10,Madrid,1,119.96,117.66,Medio,High Ticket,Upgrade,Baja
1,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,13646,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,2,211.53,Hotel Brisas del Mar,3.09,Madrid,1,211.53,250.38,High Ticket,High Ticket,Igual,Baja
2,57d4515a-447d-4067-afcb-9bdcf4e4e915,993,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,3,378.37,Hotel Camino del Sol,3.07,Madrid,1,378.37,235.08,High Ticket,Medio,Downgrade,Muy Alta
3,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,7371,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-02,14,85.45,Hotel Puerta del Cielo,3.03,Madrid,1,85.45,117.42,Medio,Luxury,Upgrade,Moderada
4,99c3dc4f-663c-45f7-849a-ac9313f3746a,2839,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-02,5,309.80,Hotel Encanto Real,3.03,Madrid,1,309.80,340.65,Luxury,Luxury,Igual,Baja
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,e856adee-838c-4031-920c-05ec5f1e32e6,7312,Jesusa,Espinosa,jesusa.espinosa@example.com,True,2025-02-26,2025-03-01,2025-03-02,29,107.00,ibis budget Madrid Vallecas,4.30,Madrid,1,107.00,71.77,Low Cost,Low Cost,Igual,Baja
14996,77134049-6e4f-49b0-a6f8-93b7466b1c22,3479,Cruz,Hurtado,cruz.hurtado@example.com,True,2025-02-26,2025-03-01,2025-03-02,27,95.00,ibis budget Madrid Calle Alcalá,4.30,Madrid,1,95.00,107.47,Low Cost,Low Cost,Igual,Baja
14997,19aef6f3-3e85-4719-9dff-b768d9bfe5a9,7539,Jose Francisco,Cortes,jose francisco.cortes@example.com,True,2025-02-26,2025-03-01,2025-03-02,19,154.00,Novotel Madrid Campo de las Naciones,4.50,Madrid,1,154.00,157.95,Medio,Low Cost,Downgrade,Baja
14998,aa092c3e-7fe6-4985-a5a8-cacd38554b1b,13982,Toño,Narváez,toño.narváez@example.com,True,2025-02-26,2025-03-01,2025-03-02,28,119.00,ibis budget Madrid Centro las Ventas,4.30,Madrid,1,119.00,90.96,Low Cost,Low Cost,Igual,Baja
14999,6d1f590c-ae87-4582-bc99-9b8cbf1d8e28,3524,Custodia,Marco,custodia.marco@example.com,True,2025-02-26,2025-03-01,2025-03-02,24,116.00,ibis Madrid Aeropuerto Barajas,4.40,Madrid,1,116.00,167.76,Medio,Low Cost,Downgrade,Alta

In [56]:
# Filtrar clientes con doble reserva
df_doble_reserva = df_final[df_final["id_cliente"].isin(clientes_doble_reserva.index)].sort_values("id_cliente")

# Filtrar clientes con triple reserva
df_triple_reserva = df_final[df_final["id_cliente"].isin(clientes_triple_reserva.index)].sort_values("id_cliente")

In [68]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id_reserva                    15000 non-null  object
 1   id_cliente                    15000 non-null  int64
 2   nombre                        15000 non-null  object
 3   apellido                      15000 non-null  object
 4   mail                          15000 non-null  object
 5   competencia                   15000 non-null  bool
 6   fecha_reserva                 15000 non-null  datetime64[ns]
 7   inicio_estancia               15000 non-null  datetime64[ns]
 8   final_estancia                15000 non-null  datetime64[ns]
 9   id_hotel                      15000 non-null  int64
 10  precio_noche                  15000 non-null  float64
 11  nombre_hotel                  15000 non-null  object
 12  valoracion                    15000 non-null  float64
 13  ciudad                        15000 non-null  object
 14  id_ciudad                     15000 non-null  int64
 15  gasto_cliente                 15000 non-null  float64
 16  gasto_medio_cliente_simulado  15000 non-null  float64
 17  categoria_cliente             15000 non-null  category
 18  categoria_hotel               15000 non-null  category
 19  Tipo_Reserva                  15000 non-null  object
 20  Probabilidad_Cancelacion      15000 non-null  object
dtypes: bool(1), category(2), datetime64[ns](3), float64(4), int64(3), object(8)
memory usage: 2.1+ MB

### **Pasar Probabilidad de cancelacion a tipo category para poder ordenar después un df (de solamente aquellos clientes con dos reservas) mediante primero el id_cliente y después la probabilidad de cancelación y quedarse con el primer elemento de cada id_cliente (reserva con más probabilidad de cancelación) junto con el ["id_reserva", "nombre_hotel", "competencia", "Probabilidad_Cancelacion"] -->  id_reserva para poder contar cuantas reservas hay de cada categoria de probabilidad de vcancelación por hotel**

COMPROBAR SI HAY CLIENTES QUE HAN RESERVADO EN HOTELES PROPIOS Y DE LA COMPETENCIA PARA LA MISMA FECHA

In [12]:
clientes_propios = df_final[df_final["competencia"] == False]["id_cliente"].unique()
clientes_propios = set(clientes_propios) # Lo pasamos a set para coger valores únicos automáticamente

clientes_competencia = df_final[df_final["competencia"] == True]["id_cliente"].unique()
clientes_competencia = set(clientes_competencia)

clientes_doble_reserva = clientes_propios.intersection(clientes_competencia)

len(clientes_doble_reserva)

40

In [13]:
df_clientes_doble_reserva = df_final[df_final["id_cliente"].isin(clientes_doble_reserva)]

df_clientes_doble_reserva

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad
89,ce727457-b05d-4d48-b5e5-002a1a7274a8,3742,David,Julián,david.julián@example.com,False,2025-02-03,2025-03-01,2025-03-02,13,198.89,Hotel Palacio Imperial,3.01,Madrid,1
429,af0d8fa1-4c3f-46d7-beb3-944976dea50c,13440,Sofía,Lamas,sofía.lamas@example.com,False,2025-02-09,2025-03-01,2025-03-02,12,382.83,Hotel Monte Verde,3.10,Madrid,1
590,aab4eaef-10ef-4162-a487-c006fcdd3eaf,8331,Leoncio,Robledo,leoncio.robledo@example.com,False,2025-02-04,2025-03-01,2025-03-02,8,486.09,Hotel Los Almendros,3.01,Madrid,1
1098,1707d7ca-72ff-4af9-9786-0f39e4504a51,5033,Eva,Bárcena,eva.bárcena@example.com,False,2025-02-06,2025-03-01,2025-03-02,9,201.79,Hotel Luz de Madrid,3.05,Madrid,1
1832,000eecd9-8b82-468f-bbbb-1acffb643f35,9553,Marina,Vargas,marina.vargas@example.com,False,2025-02-05,2025-03-01,2025-03-02,16,136.77,Hotel Sol y Luna,3.01,Madrid,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14339,2de93c59-fd50-4de4-8319-bb06e82d9d0b,11106,Olalla,Lillo,olalla.lillo@example.com,True,2025-02-26,2025-03-01,2025-03-02,20,255.00,Novotel Madrid Center,4.60,Madrid,1
14571,04d309d7-325b-4086-864e-fcc630908f2c,12247,Reyes,Cruz,reyes.cruz@example.com,True,2025-02-26,2025-03-01,2025-03-02,28,119.00,ibis budget Madrid Centro las Ventas,4.30,Madrid,1
14714,ccdfda32-d7c5-4837-b068-76020623b924,1242,Anita,Rueda,anita.rueda@example.com,True,2025-02-26,2025-03-01,2025-03-02,27,95.00,ibis budget Madrid Calle Alcalá,4.30,Madrid,1
14806,2fc7f17c-5bd7-4e8d-a775-4f364cbbb381,14033,Trinidad,Ramis,trinidad.ramis@example.com,True,2025-02-26,2025-03-01,2025-03-02,25,119.00,ibis Madrid Calle Alcalá,4.50,Madrid,1
14958,9c6d21bf-08e2-4d2a-977f-970d207d58cf,2832,Che,Pelayo,che.pelayo@example.com,True,2025-02-26,2025-03-01,2025-03-02,24,116.00,ibis Madrid Aeropuerto Barajas,4.40,Madrid,1

In [11]:
df_final.to_pickle("../data/final/hoteles_final.pkl")