In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import plotly.express as px

In [2]:
df_competencia_scrapping = pd.read_pickle("../data/web_scrapping/hoteles_competencia_info_scrapping.pkl")
df_competencia = pd.read_pickle("../data/limpieza/hoteles_competencia.pkl")
df_propios = pd.read_pickle("../data/limpieza/hoteles_propios.pkl")

In [3]:
df_competencia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5172 entries, 0 to 14998
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       5172 non-null   object
 1   id_cliente       5172 non-null   int64
 2   nombre           5172 non-null   object
 3   apellido         5172 non-null   object
 4   mail             5172 non-null   object
 5   competencia      5172 non-null   bool
 6   fecha_reserva    0 non-null      datetime64[ns]
 7   inicio_estancia  5172 non-null   datetime64[ns]
 8   final_estancia   5172 non-null   datetime64[ns]
 9   id_hotel         5172 non-null   int64
 10  precio_noche     0 non-null      float64
 11  nombre_hotel     5172 non-null   object
 12  valoracion       0 non-null      float64
 13  ciudad           5172 non-null   object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(2), object(6)
memory usage: 570.7+ KB

REASIGNAR ID A CADA HOTEL Y ASIGNAR LOS VALORES DEL WEB SCRAPPING

In [4]:
hoteles_competencia = df_competencia.groupby('id_hotel')

valores = df_competencia_scrapping[["nombre", "rating", "precio_noche", "fecha_reserva"]].values.tolist()


# Iterar sobre los grupos y asignar valores secuenciales
for i, (id_hotel, grupos_df_competencia) in enumerate(hoteles_competencia):

    # Obtener valores de df_competencia_scrapping
    nombre = valores[i][0]
    rating = valores[i][1]
    precio_noche = valores[i][2]
    fecha_reserva = valores[i][3]

    
    # Asignar los valores a los registros del grupo:

    # Asignamos a la columna nombre_hotel del df_competencia agrupados por id_hotel el nombre del elemento id de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'nombre_hotel'] = nombre

    # Asignamos a la columna estrellas del df_competencia agrupados por id_hotel las estrellas del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'valoracion'] = rating

    # Asignamos a la columna precio_noche del df_competencia agrupados por id_hotel el precio_noche del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'precio_noche'] = precio_noche

    # Asignamos a la columna fecha_reserva del df_competencia agrupados por id_hotel la fecha_reserva del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'fecha_reserva'] = fecha_reserva

VERIFICAR CAMBIOS

In [5]:
for i, (hotel, grupo) in enumerate(df_competencia.groupby("id_hotel")):
    display(grupo.sample(5))

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
9990,31df1de7-2ade-4e05-84ba-237d68c30b8a,12612,Rosalva,Hernandez,rosalva.hernandez@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
12735,0600a315-286e-43c4-a9d3-7efad0e6d72e,9695,Martina,Lladó,martina.lladó@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
7566,7e98d7d8-c218-4f56-a28c-b13de8fe65c2,2308,Calixto,Sainz,calixto.sainz@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
11761,4b06c12c-6cf2-42f0-ae4d-5284afe2fa1d,2763,Celia,Valbuena,celia.valbuena@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
1778,3ec08ac8-54f2-4ba5-835c-ce6f30d33623,11465,Patricia,Alberola,patricia.alberola@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
14378,e09956bc-63b7-4c1d-a3a8-0c16dbef608c,14751,Ámbar,Fábregas,ámbar.fábregas@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
3503,2674aabc-76b8-493d-beab-f394255a952c,620,Alfonso,Menéndez,alfonso.menéndez@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
10544,f3737380-fca3-45e6-b24f-6228ed069d73,12220,René,Jordán,rené.jordán@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
13211,9d63293b-1f5f-4afc-b2e8-1234b320174f,355,Ainara,Badía,ainara.badía@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
1814,448f4b1a-e227-4403-a345-2964e5d7c630,11859,Prudencio,Haro,prudencio.haro@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
3366,6ed56282-aac9-4f6c-9736-cdfc0998c0eb,4138,Edu,Jove,edu.jove@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
2566,d62fa6d8-6411-4e10-82e1-2c6d1737f591,6954,Isaías,Cobos,isaías.cobos@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
14548,03d8e07a-a4f4-410f-9f40-44bc335bdb60,14742,Álvaro,Ruano,álvaro.ruano@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
13303,d812c8ea-0f73-4949-a9b4-48368d79e80c,13323,Severino,Domínguez,severino.domínguez@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
2529,4ea47ab9-f48e-45bf-9347-6a526f22be7b,2003,Bernarda,Talavera,bernarda.talavera@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
7021,75de0bbd-afe2-4b29-8e74-e3adbe1a7589,4696,Erasmo,Carreño,erasmo.carreño@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
1466,086e805d-9062-4d48-90ec-e93ca4bffcd8,2310,Camila,Antúnez,camila.antúnez@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
5855,418110b2-9539-4ad5-8070-1ebef19269ac,14182,Vasco,Bellido,vasco.bellido@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
4613,2ea0d56b-05ae-4a7e-bd0e-210c72ff2b91,2002,Bernarda,Suarez,bernarda.suarez@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
9065,ec40779f-4a62-476c-977c-ca591ad6fd55,2505,Carmelita,Gomez,carmelita.gomez@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
5867,e991310a-f0db-4f37-9e1a-6183acdacf01,11486,Patricio,Milla,patricio.milla@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
14172,7e6d230c-bbcf-4833-95fe-ac3f2d5c2b4e,7337,Jesús,Oliver,jesús.oliver@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
972,50098237-3cad-401b-9236-5fa052c04da9,4043,Débora,Cervera,débora.cervera@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
2032,889e090a-03a0-4aa1-819e-2d88cfe4bf8b,10609,Natanael,Otero,natanael.otero@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
7079,73237083-92ec-4456-8d3e-9b3b1cccb885,11883,Purificación,Royo,purificación.royo@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
14601,561dfd72-1100-4ceb-96b5-dfdd01ad7075,391,Aitana,Barba,aitana.barba@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
10261,5cc4e61a-074c-449a-b189-1e127d61746f,8302,Leonardo,Aguiló,leonardo.aguiló@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
11149,da6f1430-393a-40a7-819f-8103e9e128ba,12167,Remigio,Barrera,remigio.barrera@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
14663,83f9a1fd-0bb1-4e14-bab0-762c2dd4c476,936,Amor,Rey,amor.rey@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
12696,bb944328-cfc1-461e-b0d7-487724e1f6bb,7478,Jorge,Arcos,jorge.arcos@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
10357,3a6d16e7-06e0-48c8-b086-1c09d8a36db9,6845,Irma,Cabañas,irma.cabañas@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
3024,0145ab91-f497-4ba2-b10e-c0f07c57fa67,10860,Nilda,Valencia,nilda.valencia@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
8835,213b821a-4aa4-4208-b820-a2664adfeed9,6868,Isa,Monreal,isa.monreal@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
7394,f6f241b1-19ed-487d-a585-3321f1ea529a,3569,César,Abascal,césar.abascal@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
8206,6d27836e-98cd-4cd4-b285-1da481b6b555,8564,Lisandro,Páez,lisandro.páez@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
11740,31da7a7a-803b-435b-b6a6-85423537052e,1608,Atilio,Chacón,atilio.chacón@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
13973,122dd8d5-5056-4efa-8024-916b95fa5ee1,984,Américo,Gomila,américo.gomila@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
6009,33660379-ce1c-4045-9c88-0be852bc414c,10259,Miguela,Paz,miguela.paz@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
7175,ac138734-9220-49c1-b76b-407eefa33b1d,9561,Marino,Jiménez,marino.jiménez@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
9351,eb7a4f77-f734-4329-a073-9b70d8bcfc83,9825,María Dolores,Salgado,maría dolores.salgado@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
12640,1bc8c221-0aef-4a6f-9127-3d09c88f4c3d,9128,Manola,Múñiz,manola.múñiz@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
1376,452594d6-ec60-43c7-80b3-e3a473cee667,7213,Javiera,Terrón,javiera.terrón@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
5200,3d11baa4-1084-4355-a6bc-b409bdb41380,10068,Maxi,Perez,maxi.perez@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
10156,de1375b5-a41d-4219-9c9a-274d0b479f8f,8216,Leandra,Boix,leandra.boix@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
446,aefdc886-f3a6-40b9-a874-1c848fe78de7,11938,Quirino,Cardona,quirino.cardona@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
11760,158d4f79-e3d8-407d-9aba-037b27a99d25,8632,Lorena,Tolosa,lorena.tolosa@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
1770,4316799c-c4b7-475b-928f-f5207e85e6de,7363,Joan,Bosch,joan.bosch@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
6550,2ff6278a-d11d-466b-9054-7b8c8f82903c,4217,Elena,Barba,elena.barba@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
8389,32c2abe8-0550-40e9-b2eb-5b12b760b3fb,8403,Leticia,Páez,leticia.páez@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
10433,77f99b72-8ded-45c0-9dc4-847bf9204485,3304,Consuelo,Girón,consuelo.girón@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,

In [6]:
df_competencia.to_pickle("../data/limpieza/hoteles_competencia_completo.pkl")

UNIR DATAFRAMES

In [7]:
df_final = pd.concat([df_propios, df_competencia], ignore_index=True)
df_final.sample(5)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
7106,1e8c7ed8-fe73-443b-acc4-78c0009b6479,10770,Nicodemo,Cortina,nicodemo.cortina@example.com,False,2025-02-06,2025-03-01,2025-03-02,9,261.55,Hotel Luz de Madrid,3.05,Madrid
9732,f72a085d-890e-4295-9699-f437aacb8fb4,8491,Lilia,Seguí,lilia.seguí@example.com,False,2025-02-09,2025-03-01,2025-03-02,5,394.59,Hotel Encanto Real,3.03,Madrid
2252,5ea163a2-323c-4264-9d37-afc8a9e94b53,7380,Joaquina,Falcón,joaquina.falcón@example.com,False,2025-02-09,2025-03-01,2025-03-02,15,266.91,Hotel Rincón Sereno,3.00,Madrid
5378,069a784a-b59c-416b-aa60-40ead2126c04,1809,Bartolomé,Sáez,bartolomé.sáez@example.com,False,2025-02-12,2025-03-01,2025-03-02,2,84.55,Hotel Brisas del Mar,3.09,Madrid
7222,1a7996f6-ab34-42ff-bcbb-8b98a3eff257,10181,Merche,Bauzà,merche.bauzà@example.com,False,2025-02-09,2025-03-01,2025-03-02,16,355.06,Hotel Sol y Luna,3.01,Madrid

In [8]:
df_final["ciudad"] = df_final["ciudad"].replace("", "Madrid")
print(df_final["ciudad"].unique())

['Madrid']

In [9]:
df_final['id_ciudad'] = df_final.groupby('ciudad').ngroup() + 1

df_final['id_hotel'] = df_final.groupby('nombre_hotel').ngroup() + 1

In [10]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15000 non-null  object
 1   id_cliente       15000 non-null  int64
 2   nombre           15000 non-null  object
 3   apellido         15000 non-null  object
 4   mail             15000 non-null  object
 5   competencia      15000 non-null  bool
 6   fecha_reserva    15000 non-null  datetime64[ns]
 7   inicio_estancia  15000 non-null  datetime64[ns]
 8   final_estancia   15000 non-null  datetime64[ns]
 9   id_hotel         15000 non-null  int64
 10  precio_noche     15000 non-null  float64
 11  nombre_hotel     15000 non-null  object
 12  valoracion       15000 non-null  float64
 13  ciudad           15000 non-null  object
 14  id_ciudad        15000 non-null  int64
dtypes: bool(1), datetime64[ns](3), float64(2), int64(3), object(6)
memory usage: 1.6+ MB

**¿HAY CLIENTES QUE TIENEN >1 RESERVA?**

In [ ]:
reservas_cliente = df_final.groupby("id_cliente")["id_reserva"].count()

clientes_multiples_reservas = reservas_cliente[reservas_cliente > 1]

print(len(clientes_multiples_reservas)) # 93 clientes con > 1 reserva
print(clientes_multiples_reservas.unique()) # Sólo hay clientes con 2 o 3 reservas

In [12]:
clientes_multiples_reservas = reservas_cliente[reservas_cliente > 2]
len(clientes_multiples_reservas) # 2 clientes con 3 reservas

2

In [13]:
clientes_doble_reserva = reservas_cliente[reservas_cliente == 2]
print(len(clientes_doble_reserva)) # 91 clientes don 2 reservas

clientes_triple_reserva = reservas_cliente[reservas_cliente == 3]
print(len(clientes_triple_reserva)) # 2 clientes con 3 reservas

91
2

CONFIRMAMOS QUE HAY CLIENTES QUE TIENES MÁS DE UNA RESERVA PARA EL MISMO FIN DE SEMANA, LO QUE PUEDE PROVOCAR CANCELACIONES. VAMOS A VER CÓMO PODEMOS DETECTAR QUÉ RESERVAR TIENEN MÁS PROBABILIDAD DE CANCELACIÓN.

Para comprar entre reservas, vamos a asignar una categoria a cada cliente y a cada hotel:

**SABEMOS QUE SOLO TENEMOS DATOS DE CLIENTES QUE HAN HECHO DE 1 A 3 RESERVAS, POR LO QUE EL DESAJUSTE NO SERÍA REAL YA QUE AL FINAL ESTAS RESERVAS SE CANCELARÍAN AL SER PARA LA MISMA FECHA DE ESTANCIA. ASÍ QUE, PARA CALCULAR EL TIPO DE CLIENTE CREAMOS UNA NUEVA COLUMNA QUE SIMULA EL GASTO MEDIO DE ESE CLIENTE DE MANERA HISTÓRICA:**

CATEGORIA CLIENTE

In [14]:
# Calcular el gasto de cada cliente
df_final["gasto_cliente"] = df_final["precio_noche"] * (df_final["final_estancia"] - df_final["inicio_estancia"]).dt.days

variacion = np.random.uniform(0.5, 1.5, size=df_final.shape[0]) # Generar una variación del 50% (0.5 --> -50% y 1.5 --> +50%)
# np.random.uniform(low=0.0, high=1.0, size=None)
# low (por defecto 0.0) --> límite inferior del rango 
# high (por defecto 1.0) --> límite superior del rango.
# size (opcional) --> Indica cuántos números generar.

df_final["gasto_medio_cliente_simulado"] = (df_final["precio_noche"] * variacion).round(2)

In [15]:
df_final.sample(7)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad,gasto_cliente,gasto_medio_cliente_simulado
9347,a0f0fd90-0a9c-4911-ba1f-74035cd63c1f,7587,Jose Manuel,Domingo,jose manuel.domingo@example.com,False,2025-02-05,2025-03-01,2025-03-02,22,56.45,Palacio del Sol,2.99,Madrid,1,56.45,64.72
1008,74d39623-f26f-4412-9ddf-6e37df99147b,3046,Clarisa,Coll,clarisa.coll@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,309.89,Hotel Puerta del Cielo,3.03,Madrid,1,309.89,317.43
4832,3543b63a-e357-4428-82ad-b56fef18cba9,614,Alfonso,Diéguez,alfonso.diéguez@example.com,False,2025-02-09,2025-03-01,2025-03-02,22,116.99,Palacio del Sol,2.99,Madrid,1,116.99,92.80
1308,3652894e-5224-453a-9fb3-69818aa6ac9a,1826,Basilio,Vázquez,basilio.vázquez@example.com,False,2025-02-04,2025-03-01,2025-03-02,11,254.31,Hotel Mirador Real,2.98,Madrid,1,254.31,150.46
5811,d2a26050-1576-433c-9ae9-de0f6bdedab0,9069,Maite,Peralta,maite.peralta@example.com,False,2025-02-01,2025-03-01,2025-03-02,3,126.03,Hotel Camino del Sol,3.07,Madrid,1,126.03,108.58
4874,4678b6ca-70d1-42c4-b23c-e452eae3d0fd,10076,Maximiano,Agustín,maximiano.agustín@example.com,False,2025-02-10,2025-03-01,2025-03-02,8,385.17,Hotel Los Almendros,3.01,Madrid,1,385.17,448.00
4695,e6442804-cca9-4d2b-8ec4-3d4dd742de78,7401,Joel,Bermudez,joel.bermudez@example.com,False,2025-02-11,2025-03-01,2025-03-02,14,59.55,Hotel Puerta del Cielo,3.03,Madrid,1,59.55,62.51

Ahora que ya tenemos el gasto medio histórico del cliente, podemos asignar a cada cliente una categoría:

In [16]:
# Usamos pd.cut() para dividir los clientes y los hoteles en categorías
# pd.cut()
# PARÁMETROS
# pd.cut(x, bins, labels=None, right=True, include_lowest=False, duplicates='raise')
    # x	--> Columna con datos numéricos a segmentar.
    # bins --> Lista de límites que definen los grupos.
    # labels --> Etiquetas opcionales para cada grupo.
    # right	-->	True: el límite superior es incluido en cada grupo.
    # include_lowest --> True: incluye el límite inferior en el primer bin.
    # duplicates --> Maneja valores duplicados en bins.


# DEVUELVE UNA SERÍE (COLUMNA) DE TIPO CATEGÓRICO 

# Un tipo de dato categórico es un tipo de dato especial para columnas que contienen un número limitado de valores únicos
# Por ejemplo: colores, días de la semana, niveles de satisfacción, etc.
# Tipo object vs tipo Categorical
# 1. Menor uso de memoria (almacenan una referencia a la categoría en lugar de repetir el texto en cada fila) 
# 2. Ordenación personalizada (se puede definir el orden exacto en lugar de seguir un orden alfabético).
# 3. Mayor eficiencia en operaciones de comparacion y agrupacion (+ rápido)

In [17]:

# Asignar cómo vamos a partir los datos
percentiles = df_final["gasto_medio_cliente_simulado"].quantile([0.25, 0.50, 0.75])

# Se vería algo como:
# gasto_medio_cliente_simulado           quantile
#                                           0.25        105.2
#                                           0.50        132.0
#                                           0.75        160.4

gasto_min = df_final["gasto_medio_cliente_simulado"].min()
gasto_max = df_final["gasto_medio_cliente_simulado"].max()

lista_bins_clientes = [gasto_min, percentiles[0.25], percentiles[0.50], percentiles[0.75], gasto_max]


df_final["categoria_cliente"] = pd.cut(
    df_final["gasto_medio_cliente_simulado"],
    bins = lista_bins_clientes,
    labels = ["Low Cost", "Medio", "High Ticket", "Luxury"],
    include_lowest=True # No me cogía el cliente con el gasto mínimo pq por defecto pd.cut() coge los límite superiores, pero no inferiores. Con este parámetro aseguramos que el cliente con el valor mínimo también se le asigne una categoría
    )

# pd.cut
# Toma la columna gasto_medio_cliente_simulado.
# Divide sus valores según los cortes definidos en lista_bins_clientes (percentiles).
# Asigna una etiqueta (labels) en función del intervalo al que pertenezca ese valor.
# Devuelve una columna categórica (dtype: category) con las etiquetas correspondientes.

In [ ]:
df_final["categoria_cliente"].value_counts()

CATEGORIA HOTEL

In [18]:
df_final["precio_medio_hotel"] = df_final.groupby("nombre_hotel")["precio_noche"].transform("mean").round(2)

In [19]:
df_final.sample(10)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad,gasto_cliente,gasto_medio_cliente_simulado,categoria_cliente,precio_medio_hotel
11949,e35aeba0-5ff7-45f0-acca-84a2aa81bd67,2422,Carina,Ochoa,carina.ochoa@example.com,True,2025-02-26,2025-03-01,2025-03-02,19,154.00,Novotel Madrid Campo de las Naciones,4.50,Madrid,1,154.00,113.95,Low Cost,154.00
14147,b0e47aac-0c20-4734-aca0-aaea9f57f9b7,10821,Nidia,Manjón,nidia.manjón@example.com,True,2025-02-26,2025-03-01,2025-03-02,20,255.00,Novotel Madrid Center,4.60,Madrid,1,255.00,185.95,High Ticket,255.00
12692,19a3a4d3-4e98-46fd-a119-aa9b97d96980,12325,Ricardo,Escobar,ricardo.escobar@example.com,True,2025-02-26,2025-03-01,2025-03-02,27,95.00,ibis budget Madrid Calle Alcalá,4.30,Madrid,1,95.00,100.77,Low Cost,95.00
1058,35d3a969-57da-4530-941e-9cb67f7e8ee3,8789,Lucila,Oliveras,lucila.oliveras@example.com,False,2025-02-05,2025-03-01,2025-03-02,2,144.88,Hotel Brisas del Mar,3.09,Madrid,1,144.88,178.02,Medio,275.23
9804,dfc8b186-4b96-4f8e-8423-223672c633c9,7750,José Manuel,Velasco,josé manuel.velasco@example.com,False,2025-02-06,2025-03-01,2025-03-02,18,229.94,Hotel Vista Alegre,2.94,Madrid,1,229.94,237.94,High Ticket,279.80
7590,7fce7c8d-d3ec-44db-a607-d669ecaf6f38,10185,Merche,Carbonell,merche.carbonell@example.com,False,2025-02-03,2025-03-01,2025-03-02,14,241.77,Hotel Puerta del Cielo,3.03,Madrid,1,241.77,186.95,High Ticket,280.15
8349,419598d7-a77c-46c4-95b1-be50e96945c3,10316,Mirta,Fabra,mirta.fabra@example.com,False,2025-02-05,2025-03-01,2025-03-02,9,390.77,Hotel Luz de Madrid,3.05,Madrid,1,390.77,503.30,Luxury,269.94
12529,e27bd6cb-970b-4794-83e2-ca1b259bdcb9,5333,Feliciano,Busquets,feliciano.busquets@example.com,True,2025-02-26,2025-03-01,2025-03-02,23,129.00,Pullman Madrid Airport & Feria,4.20,Madrid,1,129.00,150.18,Medio,129.00
969,2c1cdb2a-55e3-445d-8b8c-7cba108b605e,2736,Celestino,Báez,celestino.báez@example.com,False,2025-02-03,2025-03-01,2025-03-02,18,442.08,Hotel Vista Alegre,2.94,Madrid,1,442.08,402.14,Luxury,279.80
11039,5f1640d9-fa3d-42e0-b2d1-c83bf86e9414,8126,Julio César,Parra,julio césar.parra@example.com,True,2025-02-26,2025-03-01,2025-03-02,26,110.00,ibis budget Madrid Calle 30,4.40,Madrid,1,110.00,146.13,Medio,110.00

In [20]:
# Hacemos lo mismo con los hoteles

percentiles = df_final["precio_medio_hotel"].quantile([0.25, 0.50, 0.75])
precio_min = df_final["precio_medio_hotel"].min()
precio_max = df_final["precio_medio_hotel"].max()

lista_bins_hoteles = [precio_min, percentiles[0.25], percentiles[0.50], percentiles[0.75], precio_max]


df_final["categoria_hotel"] = pd.cut(
    df_final["precio_medio_hotel"],
    bins = lista_bins_hoteles,
    labels = ["Low Cost", "Medio", "High Ticket", "Luxury"],
    include_lowest=True
    )

In [ ]:
df_hoteles = (
    df_final[["nombre_hotel", "precio_medio_hotel", "categoria_hotel"]]
    .drop_duplicates()
    .sort_values("precio_medio_hotel")
    .reset_index(drop=True)
)

df_hoteles["categoria_hotel"].value_counts()

                            nombre_hotel  precio_medio_hotel categoria_hotel
0        ibis budget Madrid Calle Alcalá               95.00        Low Cost
1            ibis budget Madrid Vallecas              107.00        Low Cost
2            ibis budget Madrid Calle 30              110.00        Low Cost
3         ibis Madrid Aeropuerto Barajas              116.00        Low Cost
4   ibis budget Madrid Centro las Ventas              119.00        Low Cost
5               ibis Madrid Calle Alcalá              119.00        Low Cost
6         Pullman Madrid Airport & Feria              129.00        Low Cost
7   Novotel Madrid Campo de las Naciones              154.00        Low Cost
8         Novotel Madrid City Las Ventas              173.00           Medio
9                  Novotel Madrid Center              255.00           Medio
10                     Gran Hotel Madrid              264.97           Medio
11                      Hotel Sol y Luna              267.93           Medio
12                   Hotel Luz de Madrid              269.94           Medio
13                  Hotel Camino del Sol              270.00           Medio
14                   Hotel Las Estrellas              271.71           Medio
15                Hotel Palacio Imperial              272.24     High Ticket
16                Hotel Jardines del Rey              272.40     High Ticket
17                    Hotel Torre Dorada              272.73     High Ticket
18                    Hotel Mirador Real              273.29     High Ticket
19                   Hotel Los Almendros              273.76     High Ticket
20                  Hotel Brisas del Mar              275.23     High Ticket
21                     Hotel Monte Verde              276.61     High Ticket
22                   Hotel Rincón Sereno              277.32          Luxury
23                    Hotel Encanto Real              278.24          Luxury
24                    Hotel Vista Alegre              279.80          Luxury
25                Hotel Puerta del Cielo              280.15          Luxury
26                       Palacio del Sol              282.49          Luxury
27                      Hotel Costa Azul              284.28          Luxury
28                  Hotel Maravilla Real              284.40          Luxury

In [ ]:
df_hoteles

In [22]:
df_final.sample(5)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad,gasto_cliente,gasto_medio_cliente_simulado,categoria_cliente,precio_medio_hotel,categoria_hotel
12041,e900bfac-b12c-4c85-9b36-88f73f75ab52,7826,José,Tena,josé.tena@example.com,True,2025-02-26,2025-03-01,2025-03-02,20,255.00,Novotel Madrid Center,4.60,Madrid,1,255.00,371.65,Luxury,255.00,Medio
1257,26c99b3e-ef86-4773-bdad-40a31caf58b9,12067,Raquel,Somoza,raquel.somoza@example.com,False,2025-02-09,2025-03-01,2025-03-02,5,74.89,Hotel Encanto Real,3.03,Madrid,1,74.89,37.63,Low Cost,278.24,Luxury
2283,855314ae-069f-475a-8f9e-f4f8869a3a9c,1499,Arsenio,Calderon,arsenio.calderon@example.com,False,2025-02-07,2025-03-01,2025-03-02,13,327.89,Hotel Palacio Imperial,3.01,Madrid,1,327.89,478.52,Luxury,272.24,High Ticket
9234,8fdc87d5-80ba-49c8-87af-052cdc1d43a9,5962,Geraldo,Plaza,geraldo.plaza@example.com,False,2025-02-10,2025-03-01,2025-03-02,16,497.98,Hotel Sol y Luna,3.01,Madrid,1,497.98,558.83,Luxury,267.93,Medio
14319,3b5119e2-f2eb-4129-ab31-48d9e20383a4,11402,Paola,Oliveras,paola.oliveras@example.com,True,2025-02-26,2025-03-01,2025-03-02,23,129.00,Pullman Madrid Airport & Feria,4.20,Madrid,1,129.00,115.01,Low Cost,129.00,Low Cost

Vemos que hay algún dato raro, como que algunos hoteles "Luxury" tienen un precio_noche más bajos que algunos "Hight Ticket". Esto puede ser debido a que el cliente que ha hecho la reserva para el hotel de categoría High Ticket esté reservando una habitación más cara (por ejemplo una Suite) que el cliente que está reservando una habitación en el hotel de categoría Luxury (una habitación básica). Por lo que sería interesante ver qué tipo de habitación está reservando el cliente en cada hotel.

Como hemos comentado, cada reserva tiene un precio_noche y puede haber reservas para un mismo hotel con diferente precio, lo que significa que son dos tipos de habitaciones distintas para el mismo hotel. Vamos a clasificar el tipo de habitación de cada reserva (Básica, Estandar, Superior, Suite) en base a su precio_noche relativo al hotel concreto (nombre_hotel), usando percentiles por hotel.

In [23]:

# Calculamos percentiles por hotel y los pasamos a columnas
percentiles_hoteles = (
    df_final.groupby("id_hotel")["precio_noche"]
    .quantile([0.25, 0.5, 0.75])
    .unstack()
    .rename(columns={0.25: "p25", 0.5: "p50", 0.75: "p75"})
)


# .quantile([0.25, 0.5, 0.75]) 
# En este caso, agrupados por nombre_hotel se vería algo así (Serie con MultiIndex: nombre_hotel, percentil):

# nombre_hotel           quantile
# Hotel Vista Alegre     0.25        105.2
#                        0.50        132.0
#                        0.75        160.4
# Hotel Mirador Real     0.25        98.7
#                        0.50        120.3
#                        0.75        150.5

#.unstack()
#  Convierte a columnas el segundo índice (percentil):

# nombre_hotel          0.25   0.5    0.75
# Hotel Vista Alegre    105.2  132.0  160.4
# Hotel Mirador Real    98.7   120.3  150.5

# .rename
# Renombra las columnas

# nombre_hotel          p25     p50     p75
# Hotel Vista Alegre    105.2   132.0   160.4
# Hotel Mirador Real    98.7    120.3   150.5

In [24]:
df_final = df_final.merge(percentiles_hoteles, on="id_hotel", how="left")

In [25]:

def categoria_habitacion(row):

    if row["precio_noche"] <= row["p25"]:
        return "Basica"
    
    elif row["precio_noche"] <= row["p50"]:
        return "Estandar"
    
    elif row["precio_noche"] <= row["p75"]:
        return "Superior"
    
    else:
        return "Suite"



df_final["Categoria_Habitacion"] = df_final.apply(categoria_habitacion, axis=1)

df_final.drop(columns = "p25", inplace = True)
df_final.drop(columns = "p50", inplace = True)
df_final.drop(columns = "p75", inplace = True)

In [26]:
df_final["Categoria_Habitacion"].unique()

array(['Basica', 'Estandar', 'Superior', 'Suite'], dtype=object)

In [27]:
df_final["Categoria_Habitacion"].value_counts()

Categoria_Habitacion
Basica      7637
Suite       2461
Estandar    2454
Superior    2448
Name: count, dtype: int64

In [28]:
df_final.sample(7)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad,gasto_cliente,gasto_medio_cliente_simulado,categoria_cliente,precio_medio_hotel,categoria_hotel,Categoria_Habitacion
8408,aa1c6484-8109-4247-b8bc-d25157becee8,1350,Aníbal,Samper,aníbal.samper@example.com,False,2025-02-06,2025-03-01,2025-03-02,11,455.94,Hotel Mirador Real,2.98,Madrid,1,455.94,611.21,Luxury,273.29,High Ticket,Suite
8915,a031e6a9-c462-4bff-ab16-87e5d88c6105,10198,Merche,Valderrama,merche.valderrama@example.com,False,2025-02-07,2025-03-01,2025-03-02,11,398.23,Hotel Mirador Real,2.98,Madrid,1,398.23,379.39,Luxury,273.29,High Ticket,Suite
9099,e2080588-3afd-49bd-9284-97741922b063,13264,Selena,Zorrilla,selena.zorrilla@example.com,False,2025-02-05,2025-03-01,2025-03-02,14,301.61,Hotel Puerta del Cielo,3.03,Madrid,1,301.61,269.00,High Ticket,280.15,Luxury,Superior
1899,c8275b93-97c0-4608-bd46-6b9149095ca5,10531,Nando,Fernández,nando.fernández@example.com,False,2025-02-02,2025-03-01,2025-03-02,16,358.59,Hotel Sol y Luna,3.01,Madrid,1,358.59,294.60,High Ticket,267.93,Medio,Superior
14781,1dccf800-0327-4ffc-8cf3-0f2cf9db3277,3766,Delia,Carpio,delia.carpio@example.com,True,2025-02-26,2025-03-01,2025-03-02,26,110.00,ibis budget Madrid Calle 30,4.40,Madrid,1,110.00,95.10,Low Cost,110.00,Low Cost,Basica
1062,42f8dd91-7014-4e4a-b3a0-2a3e40f83944,3792,Demetrio,Vilanova,demetrio.vilanova@example.com,False,2025-02-12,2025-03-01,2025-03-02,12,221.89,Hotel Monte Verde,3.10,Madrid,1,221.89,262.76,High Ticket,276.61,High Ticket,Estandar
8212,08ce2e66-34cd-42d1-a03a-7caf3d1ce2c5,7917,Juan Luis,Garmendia,juan luis.garmendia@example.com,False,2025-02-12,2025-03-01,2025-03-02,12,209.09,Hotel Monte Verde,3.10,Madrid,1,209.09,260.45,High Ticket,276.61,High Ticket,Estandar

Ahora que ya tenemos todos los datos, podemos comparar y ver qué tipo de reserva está haciendo cada cliente en función de su categoria, tanto de hotel como de habitación.

In [29]:
def tipo_reserva_hotel(row):

    # Como ambas columnas tienen los mismos valores, solo necesitamos una lista de categorias
    categorias = ["Low Cost", "Medio", "High Ticket", "Luxury"]

    cliente = row["categoria_cliente"]
    hotel = row["categoria_hotel"]

    # Para comparar qué tan alto o bajo es el tipo de hotel respecto al tipo de cliente
    indice_cliente = categorias.index(cliente)
    indice_hotel = categorias.index(hotel)
    # Si el índice del cliente es igual (3 vs 3 -> Luxury vs Luxury) --> cliente está reservando en un hotel igual 
    # Si el índice del cliente es menor (1 vs 3 -> Medio vs Luxury) --> cliente está reservando en un hotel más caro
    # Si el índice del cliente es mayor (3 vs 1 -> Luxury vs Medio) --> cliente está reservando en un hotel más barato

    if indice_cliente == indice_hotel:
        return "Igual"
    elif indice_cliente < indice_hotel:
        return "Upgrade"
    else:
        return "Downgrade"

df_final["Tipo_Reserva_Hotel"] = df_final.apply(tipo_reserva_hotel, axis=1)

In [30]:
def tipo_reserva_habitacion(row):
    categorias_cliente = ["Low Cost", "Medio", "High Ticket", "Luxury"]
    categorias_habitacion = ["Basica", "Estandar", "Superior", "Suite"]

    cliente = row["categoria_cliente"]
    habitacion = row["Categoria_Habitacion"]

    # Para comparar qué tan alto o bajo es el tipo de habitacion respecto al tipo de cliente
    indice_cliente = categorias_cliente.index(cliente)
    indice_habitacion = categorias_habitacion.index(habitacion)
    # Si el índice del cliente es igual (3 vs 3 -> Luxury vs Suite) --> cliente está reservando en una habitacion igual 
    # Si el índice del cliente es menor (1 vs 3 -> Medio vs Suite) --> cliente está reservando en una habitacion más cara
    # Si el índice del cliente es mayor (3 vs 1 -> Luxury vs Estandar) --> cliente está reservando en una habitacion más barata

    if indice_cliente == indice_habitacion:
        return "Igual"
    elif indice_cliente < indice_habitacion:
        return "Upgrade"
    else:
        return "Downgrade"

df_final["Tipo_Reserva_Habitacion"] = df_final.apply(tipo_reserva_habitacion, axis=1)

In [31]:
df_final.sample(7)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad,gasto_cliente,gasto_medio_cliente_simulado,categoria_cliente,precio_medio_hotel,categoria_hotel,Categoria_Habitacion,Tipo_Reserva_Hotel,Tipo_Reserva_Habitacion
12864,9b385f32-3828-4b91-9feb-d984b36ec91a,9442,Marianela,Gallo,marianela.gallo@example.com,True,2025-02-26,2025-03-01,2025-03-02,23,129.00,Pullman Madrid Airport & Feria,4.20,Madrid,1,129.00,73.81,Low Cost,129.00,Low Cost,Basica,Igual,Igual
9463,a3641d97-a21d-410e-93b5-13586e7f96c8,291,Adán,Pascual,adán.pascual@example.com,False,2025-02-12,2025-03-01,2025-03-02,14,340.56,Hotel Puerta del Cielo,3.03,Madrid,1,340.56,215.74,High Ticket,280.15,Luxury,Superior,Upgrade,Igual
1374,b9c3579b-ce9f-401a-98b7-f16f4f4e6610,360,Ainara,Dominguez,ainara.dominguez@example.com,False,2025-02-07,2025-03-01,2025-03-02,2,420.27,Hotel Brisas del Mar,3.09,Madrid,1,420.27,372.08,Luxury,275.23,High Ticket,Suite,Downgrade,Igual
8805,c6664e9c-f2db-433d-b944-b6cb858b8449,11661,Perlita,Iglesias,perlita.iglesias@example.com,False,2025-02-03,2025-03-01,2025-03-02,8,246.62,Hotel Los Almendros,3.01,Madrid,1,246.62,226.65,High Ticket,273.76,High Ticket,Estandar,Igual,Downgrade
7023,aeee3b75-d7e8-4fe1-8f21-bc8c65a2fa0e,12934,Salomón,Aliaga,salomón.aliaga@example.com,False,2025-02-04,2025-03-01,2025-03-02,11,358.33,Hotel Mirador Real,2.98,Madrid,1,358.33,281.85,High Ticket,273.29,High Ticket,Superior,Igual,Igual
14659,3eece068-82ab-4ab3-8a63-5aeba9305e35,14171,Vanesa,Godoy,vanesa.godoy@example.com,True,2025-02-26,2025-03-01,2025-03-02,23,129.00,Pullman Madrid Airport & Feria,4.20,Madrid,1,129.00,101.20,Low Cost,129.00,Low Cost,Basica,Igual,Igual
8859,f6ee85c3-8026-41ad-95b9-ccacd4c0f3e0,7824,José,Ros,josé.ros@example.com,False,2025-02-05,2025-03-01,2025-03-02,18,171.01,Hotel Vista Alegre,2.94,Madrid,1,171.01,178.13,Medio,279.80,Luxury,Estandar,Upgrade,Igual

In [32]:
# df_final.drop(columns = "Probabilidad_Cancelacion", inplace = True)

def probabilidad_cancelacion(row):
    
    if row["Tipo_Reserva_Hotel"] == "Igual":
        return "Baja"
    
    
    if row["precio_noche"] == 0 or pd.isna(row["precio_noche"]) or pd.isna(row["gasto_medio_cliente_simulado"]):
        return "Desconocida"
    
    # Calcular qué tan caro o barato es la reserva en comparación con lo que el cliente suele gastar
    dif = abs((row["precio_noche"] - row["gasto_medio_cliente_simulado"]) / row["gasto_medio_cliente_simulado"]) * 100 
    # Usamos abs para convertir todos los valores a positivos y evitar evaluar también los rangos negativos en los if-else
    
    
    if 0 <= dif <= 15:
        return "Baja"
    elif 15 < dif <= 30:
        return "Moderada"
    elif 30 < dif <= 50:
        return "Alta"
    else:
        return "Muy Alta"


df_final["Probabilidad_Cancelacion"] = df_final.apply(probabilidad_cancelacion, axis=1)

In [33]:
# df_final.drop(columns = "Diferencia_Precio_Habitual", inplace = True)

def dif_precio_habitual(row):
      
    if row["precio_noche"] == 0 or pd.isna(row["precio_noche"]) or pd.isna(row["gasto_medio_cliente_simulado"]):
        return "Desconocida"
    
    # Calcular qué tan caro o barato es el hotel en comparación con lo que el cliente suele gastar
    dif = round((row["precio_noche"] - row["gasto_medio_cliente_simulado"]) / row["gasto_medio_cliente_simulado"] * 100, 2) 
    
    return dif


df_final["Esfuerzo_cliente_%"] = df_final.apply(dif_precio_habitual, axis=1)

In [34]:

df_final.sample(7)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad,gasto_cliente,gasto_medio_cliente_simulado,categoria_cliente,precio_medio_hotel,categoria_hotel,Categoria_Habitacion,Tipo_Reserva_Hotel,Tipo_Reserva_Habitacion,Probabilidad_Cancelacion,Esfuerzo_cliente_%
3102,38898af0-3345-4fd4-bb99-1f96f4736b0c,2571,Carolina,Blanch,carolina.blanch@example.com,False,2025-02-12,2025-03-01,2025-03-02,22,170.04,Palacio del Sol,2.99,Madrid,1,170.04,195.13,High Ticket,282.49,Luxury,Basica,Upgrade,Downgrade,Baja,-12.86
12551,3d3e437b-fadb-4fa6-8551-1efc8acdb249,12939,Salomón,Lloret,salomón.lloret@example.com,True,2025-02-26,2025-03-01,2025-03-02,24,116.00,ibis Madrid Aeropuerto Barajas,4.40,Madrid,1,116.00,111.92,Low Cost,116.00,Low Cost,Basica,Igual,Igual,Baja,3.65
3831,b9d32b90-ab9a-4135-9880-3cf355b96e57,11917,Pío,Menéndez,pío.menéndez@example.com,False,2025-02-10,2025-03-01,2025-03-02,3,247.23,Hotel Camino del Sol,3.07,Madrid,1,247.23,317.05,Luxury,270.00,Medio,Estandar,Downgrade,Downgrade,Moderada,-22.02
5947,d826df2e-573c-424f-b49f-b0c6e9c1f365,3043,Clarisa,Báez,clarisa.báez@example.com,False,2025-02-06,2025-03-01,2025-03-02,8,386.21,Hotel Los Almendros,3.01,Madrid,1,386.21,405.83,Luxury,273.76,High Ticket,Suite,Downgrade,Igual,Baja,-4.83
14713,df507307-aa4b-4dba-b89d-75822d958f1e,3346,Cornelio,Roldan,cornelio.roldan@example.com,True,2025-02-26,2025-03-01,2025-03-02,20,255.00,Novotel Madrid Center,4.60,Madrid,1,255.00,193.69,High Ticket,255.00,Medio,Basica,Downgrade,Downgrade,Alta,31.65
12430,a35dcdc6-eb99-465b-bb7c-041fced451cb,7650,Jose,Vázquez,jose.vázquez@example.com,True,2025-02-26,2025-03-01,2025-03-02,25,119.00,ibis Madrid Calle Alcalá,4.50,Madrid,1,119.00,95.90,Low Cost,119.00,Low Cost,Basica,Igual,Igual,Baja,24.09
13590,f2a0b84b-d389-4120-bb91-6cdf1b889607,3936,Domingo,Pont,domingo.pont@example.com,True,2025-02-26,2025-03-01,2025-03-02,24,116.00,ibis Madrid Aeropuerto Barajas,4.40,Madrid,1,116.00,64.87,Low Cost,116.00,Low Cost,Basica,Igual,Igual,Baja,78.82

In [35]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id_reserva                    15000 non-null  object
 1   id_cliente                    15000 non-null  int64
 2   nombre                        15000 non-null  object
 3   apellido                      15000 non-null  object
 4   mail                          15000 non-null  object
 5   competencia                   15000 non-null  bool
 6   fecha_reserva                 15000 non-null  datetime64[ns]
 7   inicio_estancia               15000 non-null  datetime64[ns]
 8   final_estancia                15000 non-null  datetime64[ns]
 9   id_hotel                      15000 non-null  int64
 10  precio_noche                  15000 non-null  float64
 11  nombre_hotel                  15000 non-null  object
 12  valoracion                    15000 non-null  float64
 13  ciudad                        15000 non-null  object
 14  id_ciudad                     15000 non-null  int64
 15  gasto_cliente                 15000 non-null  float64
 16  gasto_medio_cliente_simulado  15000 non-null  float64
 17  categoria_cliente             15000 non-null  category
 18  precio_medio_hotel            15000 non-null  float64
 19  categoria_hotel               15000 non-null  category
 20  Categoria_Habitacion          15000 non-null  object
 21  Tipo_Reserva_Hotel            15000 non-null  object
 22  Tipo_Reserva_Habitacion       15000 non-null  object
 23  Probabilidad_Cancelacion      15000 non-null  object
 24  Esfuerzo_cliente_%            15000 non-null  float64
dtypes: bool(1), category(2), datetime64[ns](3), float64(6), int64(3), object(10)
memory usage: 2.6+ MB

In [36]:
# Pasar columnas Tipo_Reserva y Probabilidad_Cancelacion a tipo Categorico

orden_categoria_hab = ["Basica", "Estandar", "Superior", "Suite"]
orden_tipo_reserva = ["Upgrade", "Igual", "Downgrade"]
orden_cancelacion = ["Muy Alta", "Alta", "Moderada", "Baja"]

df_final["Categoria_Habitacion"] = pd.Categorical(df_final["Categoria_Habitacion"], categories = orden_categoria_hab, ordered=True)
df_final["Tipo_Reserva_Hotel"] = pd.Categorical(df_final["Tipo_Reserva_Hotel"], categories = orden_tipo_reserva, ordered=True)
df_final["Tipo_Reserva_Habitacion"] = pd.Categorical(df_final["Tipo_Reserva_Habitacion"], categories = orden_tipo_reserva, ordered=True)
df_final["Probabilidad_Cancelacion"] = pd.Categorical(df_final["Probabilidad_Cancelacion"], categories = orden_cancelacion, ordered=True)


# El parámetro ordered=True es importante para que pandas pueda ordenar las categorías (por ejemplo: "Alta" > "Moderada") o hacer comparaciones (df["Tipo_Reserva"] > "Igual")
# En caso de que ordered=True pandas ordenaría los vlores por el orden interno por defecto (alfabético)
# IMP: Este parámetro no reordena los registros del DataFrame por sí mismo. Es como decirle a pandas:
# "Estas categorías tienen un orden lógico, por si necesitas ordenarlas más tarde o compararlas."

In [37]:
df_final.sample(5)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad,gasto_cliente,gasto_medio_cliente_simulado,categoria_cliente,precio_medio_hotel,categoria_hotel,Categoria_Habitacion,Tipo_Reserva_Hotel,Tipo_Reserva_Habitacion,Probabilidad_Cancelacion,Esfuerzo_cliente_%
12234,e2bb8c23-8214-4062-ac52-41ca3dfcd6ba,12901,Sabas,Clavero,sabas.clavero@example.com,True,2025-02-26,2025-03-01,2025-03-02,24,116.00,ibis Madrid Aeropuerto Barajas,4.40,Madrid,1,116.00,86.93,Low Cost,116.00,Low Cost,Basica,Igual,Igual,Baja,33.44
9511,6367d854-b82b-46fe-8e6c-4bc973d281f1,8155,Kike,Lorenzo,kike.lorenzo@example.com,False,2025-02-11,2025-03-01,2025-03-02,12,86.40,Hotel Monte Verde,3.10,Madrid,1,86.40,63.56,Low Cost,276.61,High Ticket,Basica,Upgrade,Igual,Alta,35.93
11695,0d0bbbf7-9f06-48fe-9b2a-89a47f258182,11023,Obdulia,Cerro,obdulia.cerro@example.com,True,2025-02-26,2025-03-01,2025-03-02,29,107.00,ibis budget Madrid Vallecas,4.30,Madrid,1,107.00,97.12,Low Cost,107.00,Low Cost,Basica,Igual,Igual,Baja,10.17
6856,ff7ae4b9-6a81-4835-aa62-7950102f8c9e,12074,Raúl,Cabo,raúl.cabo@example.com,False,2025-02-03,2025-03-01,2025-03-02,10,162.58,Hotel Maravilla Real,2.98,Madrid,1,162.58,236.38,High Ticket,284.40,Luxury,Basica,Upgrade,Downgrade,Alta,-31.22
4998,b17e0b3f-25f9-48e1-ac36-7974bdfe67cc,7680,Josefina,Serrano,josefina.serrano@example.com,False,2025-02-12,2025-03-01,2025-03-02,5,298.28,Hotel Encanto Real,3.03,Madrid,1,298.28,382.00,Luxury,278.24,Luxury,Superior,Igual,Downgrade,Baja,-21.92

In [38]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id_reserva                    15000 non-null  object
 1   id_cliente                    15000 non-null  int64
 2   nombre                        15000 non-null  object
 3   apellido                      15000 non-null  object
 4   mail                          15000 non-null  object
 5   competencia                   15000 non-null  bool
 6   fecha_reserva                 15000 non-null  datetime64[ns]
 7   inicio_estancia               15000 non-null  datetime64[ns]
 8   final_estancia                15000 non-null  datetime64[ns]
 9   id_hotel                      15000 non-null  int64
 10  precio_noche                  15000 non-null  float64
 11  nombre_hotel                  15000 non-null  object
 12  valoracion                    15000 non-null  float64
 13  ciudad                        15000 non-null  object
 14  id_ciudad                     15000 non-null  int64
 15  gasto_cliente                 15000 non-null  float64
 16  gasto_medio_cliente_simulado  15000 non-null  float64
 17  categoria_cliente             15000 non-null  category
 18  precio_medio_hotel            15000 non-null  float64
 19  categoria_hotel               15000 non-null  category
 20  Categoria_Habitacion          15000 non-null  category
 21  Tipo_Reserva_Hotel            15000 non-null  category
 22  Tipo_Reserva_Habitacion       15000 non-null  category
 23  Probabilidad_Cancelacion      15000 non-null  category
 24  Esfuerzo_cliente_%            15000 non-null  float64
dtypes: bool(1), category(6), datetime64[ns](3), float64(6), int64(3), object(6)
memory usage: 2.2+ MB

AHORA QUE YA SABEMOS EL TIPO DE HOTEL QUE EL CLIENTE SUELE RESERVAR Y EL TIPO DE HOTEL QUE HA RESERVADO, PODEMOS COMPARAR PARA LOS QUE HAN HECHO VARIAS RESERVAS
- QUÉ RESERVA SE AJUSTA MÁS A SU TIPO --> LO QUE A PRIORI SERÍA UNA ALTA PROBABILIDAD DE CANCELACIÓN DE LA OTRA RESERVA

**VEREMOS QUÉ HACER CON LOS CLIENTES DE > 1 RESERVA EN EL APARTADO DE LOS GRÁFICOS**

In [ ]:
df_final.to_pickle("../data/final/hoteles_final.pkl")