In [3]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [4]:
df_competencia_scrapping = pd.read_pickle("../data/web_scrapping/hoteles_competencia_info_scrapping.pkl")
df_competencia = pd.read_pickle("../data/limpieza/hoteles_competencia.pkl")
df_propios = pd.read_pickle("../data/limpieza/hoteles_propios.pkl")

In [5]:
df_competencia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5172 entries, 0 to 14998
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       5172 non-null   object
 1   id_cliente       5172 non-null   int64
 2   nombre           5172 non-null   object
 3   apellido         5172 non-null   object
 4   mail             5172 non-null   object
 5   competencia      5172 non-null   bool
 6   fecha_reserva    0 non-null      datetime64[ns]
 7   inicio_estancia  5172 non-null   datetime64[ns]
 8   final_estancia   5172 non-null   datetime64[ns]
 9   id_hotel         5172 non-null   int64
 10  precio_noche     0 non-null      float64
 11  nombre_hotel     5172 non-null   object
 12  valoracion       0 non-null      float64
 13  ciudad           5172 non-null   object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(2), object(6)
memory usage: 570.7+ KB

REASIGNAR ID A CADA HOTEL Y ASIGNAR LOS VALORES DEL WEB SCRAPPING

In [6]:
hoteles_competencia = df_competencia.groupby('id_hotel')

valores = df_competencia_scrapping[["nombre", "rating", "precio_noche", "fecha_reserva"]].values.tolist()


# Iterar sobre los grupos y asignar valores secuenciales
for i, (id_hotel, grupos_df_competencia) in enumerate(hoteles_competencia):

    # Obtener valores de df_competencia_scrapping
    nombre = valores[i][0]
    rating = valores[i][1]
    precio_noche = valores[i][2]
    fecha_reserva = valores[i][3]

    
    # Asignar los valores a los registros del grupo:

    # Asignamos a la columna nombre_hotel del df_competencia agrupados por id_hotel el nombre del elemento id de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'nombre_hotel'] = nombre

    # Asignamos a la columna estrellas del df_competencia agrupados por id_hotel las estrellas del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'valoracion'] = rating

    # Asignamos a la columna precio_noche del df_competencia agrupados por id_hotel el precio_noche del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'precio_noche'] = precio_noche

    # Asignamos a la columna fecha_reserva del df_competencia agrupados por id_hotel la fecha_reserva del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'fecha_reserva'] = fecha_reserva

VERIFICAR CAMBIOS

In [7]:
for i, (hotel, grupo) in enumerate(df_competencia.groupby("id_hotel")):
    display(grupo.sample(5))

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
14933,c1062719-7cf2-40ff-895b-3536aa4fa965,2408,Caridad,Mariscal,caridad.mariscal@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
10619,4ec978e1-5f6a-4f50-81c8-9907b843d342,3982,Dorita,Calderón,dorita.calderón@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
369,4e14db4d-0503-412e-b681-9713f28ae3b4,14144,Valero,Aragonés,valero.aragonés@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
3345,f82aa7a1-bd15-4206-9c70-16cd226b3bb4,8963,Luz,Leon,luz.leon@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
6813,7e08a9b1-817d-43c7-9214-25f272347a89,12008,Raimundo,Guillen,raimundo.guillen@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
3818,fc087f48-9c37-40ac-a717-f1f1411f4e2a,9962,María,Álamo,maría.álamo@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
2093,185af38d-41ab-42dc-97ea-441b7dbee508,14024,Trinidad,Nogués,trinidad.nogués@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
10368,45547359-c8ee-4788-85a8-81fa6712856a,2078,Bibiana,Garmendia,bibiana.garmendia@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
11354,eabdfb2d-4aa5-4aa2-ba5f-d6c0600329f2,12825,Ruperto,Salvà,ruperto.salvà@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
12738,240638a2-1070-421e-9ed7-76e9f24d7fc6,2150,Borja,Alcázar,borja.alcázar@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
10845,e3eedbd6-5f26-4fb2-bac9-26fc16766874,10993,Nélida,Luján,nélida.luján@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
639,90c67bf8-f5ef-46d2-ae71-fe78a4a4f8bb,5406,Felix,Mora,felix.mora@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
8680,78fe2ca5-cac0-45d9-a31e-fc22c9716f7e,5994,Germán,Sanjuan,germán.sanjuan@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
2591,5adaee04-0cce-4b9c-aae7-12df79904ed5,11445,Pastor,Rivero,pastor.rivero@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
5155,c913ab04-20b9-40f6-9afb-74ac4916f14a,1017,Ana Belén,Gascón,ana belén.gascón@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
4791,68e2735c-8d91-4c72-82be-aafbc0249973,10906,Noemí,Herrera,noemí.herrera@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
6651,2a1acc79-d77f-4eea-a5d3-2602c11077de,7737,José Luis,Peñas,josé luis.peñas@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
10093,e4734c34-bd29-43d2-ac3b-26f71efabd43,2208,Brígida,Ramos,brígida.ramos@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
5124,859eeb34-5801-41e7-97c0-cd4f10c60c41,5401,Felix,Barón,felix.barón@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
5649,bc97f380-81ae-4b95-9076-1b23a932e5d8,6309,Guiomar,Izquierdo,guiomar.izquierdo@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
9970,ad8b5f83-874c-45c9-8a05-879406902ff4,12748,Ruben,Tenorio,ruben.tenorio@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
8341,c69ddb43-053b-44bb-a560-0714723790f2,9237,Marc,Arnau,marc.arnau@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
2835,7c4c6bd6-a134-42cd-bb67-bef39b6efc94,13372,Silvestre,Teruel,silvestre.teruel@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
10098,e0f9ab05-cd8e-437e-926f-75d3fa589b13,11582,Pedro,Vilaplana,pedro.vilaplana@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
95,38c4f7dc-1c64-4398-aa29-7a31a3028677,3615,Dalila,Yáñez,dalila.yáñez@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
661,bf62bebb-0cfd-439e-9e4b-0fbf0ce11545,3505,Curro,Montaña,curro.montaña@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
406,41ba46f0-f823-400f-aca4-9abc06461d30,9798,María Del Carmen,Galan,maría del carmen.galan@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
4866,52595ec1-5e21-4095-b07e-002bde20f32a,7534,Jose Francisco,Almansa,jose francisco.almansa@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
8363,db91b2e4-53d1-4f35-a1ff-788751febece,6960,Isaías,Moreno,isaías.moreno@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
98,7df2ca32-9996-42c0-aa77-c4ff62c97d6f,4247,Eleuterio,Marín,eleuterio.marín@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
14883,15849428-1f8e-450e-b6ef-c3e6836ca30c,5918,Genoveva,Castrillo,genoveva.castrillo@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
11504,2fc65202-8743-4005-ab0f-a7fa2178247d,4851,Estrella,Bejarano,estrella.bejarano@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
8236,c99cad63-ee2d-42d3-85e4-7da1ef676d3b,14289,Victor,Mena,victor.mena@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
14519,d3a31431-2102-4048-a7bf-a27c6b7381ad,12708,Rosendo,Pablo,rosendo.pablo@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
4231,b4930e02-71a0-4d52-8ce0-e853f5df2b8e,1885,Belen,Calatayud,belen.calatayud@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
11160,c6ab5079-abf3-47ef-a9c8-3009750833b5,1613,Atilio,Giménez,atilio.giménez@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
365,d5a9e688-2b29-4224-a9a0-c6d0875106c4,7272,Jeremías,Ortuño,jeremías.ortuño@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
9448,1625d309-74ac-420d-8b8e-44334d824708,6736,Imelda,Manrique,imelda.manrique@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
2569,bbcd17d2-b49c-449b-89d8-db1e8fdbda56,12136,Reinaldo,Carbajo,reinaldo.carbajo@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
9381,dfb84846-1c2f-477c-8ed0-030e77826a39,9013,Macarena,Vergara,macarena.vergara@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
14175,c1b2aaf3-d543-41ec-9577-d0f92e0eb5c8,397,Aitana,Farré,aitana.farré@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
7463,65b30e16-743b-46cc-8c9d-78ba3dceea1e,539,Ale,Pallarès,ale.pallarès@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
7936,25cb1979-f18a-411a-817c-b00bb35ade9c,2427,Carla,Alcolea,carla.alcolea@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
2865,76b1d8ed-63c0-4674-a071-50e7083eab9e,1850,Bautista,Martí,bautista.martí@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
9946,17cf9430-f5a0-4c7c-badd-d7a619604747,6502,Hernando,Nieto,hernando.nieto@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
14065,fb612e16-dfd3-4386-9dff-78052e5a0725,6989,Isidoro,Clemente,isidoro.clemente@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
1046,b25ea422-760e-4748-b772-0289061292b0,4632,Encarnación,Salas,encarnación.salas@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
6911,57496bb6-339e-4e7e-a6d3-c639997a02e8,5896,Gema,Báez,gema.báez@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
6550,2ff6278a-d11d-466b-9054-7b8c8f82903c,4217,Elena,Barba,elena.barba@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
1440,290d75ea-c615-4226-b9dc-76ff5c213578,1246,Anna,Cañizares,anna.cañizares@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,

In [8]:
df_competencia.to_pickle("../data/limpieza/hoteles_competencia_completo.pkl")

UNIR DATAFRAMES

In [9]:
df_final = pd.concat([df_propios, df_competencia], ignore_index=True)
df_final.sample(5)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
12468,42fed484-5b58-40c7-b19d-0f234bece316,12559,Rosa,Lobo,rosa.lobo@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.00,ibis budget Madrid Calle Alcalá,4.30,
13981,7c6e41c2-aa0b-45df-953d-7d587a63ca5c,14477,Víctor,Escolano,víctor.escolano@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.00,ibis Madrid Aeropuerto Barajas,4.40,
1881,3bb17103-69ed-4e3f-8342-a232be4219a2,12741,Ruben,Ferreras,ruben.ferreras@example.com,False,2025-02-05,2025-03-01,2025-03-02,12,243.87,Hotel Monte Verde,3.10,Madrid
168,dff5b144-874d-4a31-be70-4b0d3e7a6fcc,3908,Dolores,Zamorano,dolores.zamorano@example.com,False,2025-02-08,2025-03-01,2025-03-02,15,332.05,Hotel Rincón Sereno,3.00,Madrid
8799,0ae1ec3e-a48d-450e-a63d-195d0fde184d,3618,Damián,Colomer,damián.colomer@example.com,False,2025-02-12,2025-03-01,2025-03-02,9,476.56,Hotel Luz de Madrid,3.05,Madrid

In [10]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15000 non-null  object
 1   id_cliente       15000 non-null  int64
 2   nombre           15000 non-null  object
 3   apellido         15000 non-null  object
 4   mail             15000 non-null  object
 5   competencia      15000 non-null  bool
 6   fecha_reserva    15000 non-null  datetime64[ns]
 7   inicio_estancia  15000 non-null  datetime64[ns]
 8   final_estancia   15000 non-null  datetime64[ns]
 9   id_hotel         15000 non-null  int64
 10  precio_noche     15000 non-null  float64
 11  nombre_hotel     15000 non-null  object
 12  valoracion       15000 non-null  float64
 13  ciudad           15000 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(2), object(6)
memory usage: 1.5+ MB

In [12]:
df_final.to_pickle("../data/final/hoteles_final.pkl")