In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [3]:
df_competencia_scrapping = pd.read_pickle("../data/web_scrapping/hoteles_competencia_info_scrapping.pkl")
df_competencia = pd.read_pickle("../data/limpieza/hoteles_competencia.pkl")
df_propios = pd.read_pickle("../data/limpieza/hoteles_propios.pkl")

In [4]:
df_competencia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5172 entries, 0 to 14998
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       5172 non-null   object
 1   id_cliente       5172 non-null   int64
 2   nombre           5172 non-null   object
 3   apellido         5172 non-null   object
 4   mail             5172 non-null   object
 5   competencia      5172 non-null   bool
 6   fecha_reserva    0 non-null      datetime64[ns]
 7   inicio_estancia  5172 non-null   datetime64[ns]
 8   final_estancia   5172 non-null   datetime64[ns]
 9   id_hotel         5172 non-null   int64
 10  precio_noche     0 non-null      float64
 11  nombre_hotel     5172 non-null   object
 12  valoracion       0 non-null      float64
 13  ciudad           5172 non-null   object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(2), object(6)
memory usage: 570.7+ KB

REASIGNAR ID A CADA HOTEL Y ASIGNAR LOS VALORES DEL WEB SCRAPPING

In [5]:
hoteles_competencia = df_competencia.groupby('id_hotel')

valores = df_competencia_scrapping[["nombre", "rating", "precio_noche", "fecha_reserva"]].values.tolist()


# Iterar sobre los grupos y asignar valores secuenciales
for i, (id_hotel, grupos_df_competencia) in enumerate(hoteles_competencia):

    # Obtener valores de df_competencia_scrapping
    nombre = valores[i][0]
    rating = valores[i][1]
    precio_noche = valores[i][2]
    fecha_reserva = valores[i][3]

    
    # Asignar los valores a los registros del grupo:

    # Asignamos a la columna nombre_hotel del df_competencia agrupados por id_hotel el nombre del elemento id de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'nombre_hotel'] = nombre

    # Asignamos a la columna estrellas del df_competencia agrupados por id_hotel las estrellas del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'valoracion'] = rating

    # Asignamos a la columna precio_noche del df_competencia agrupados por id_hotel el precio_noche del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'precio_noche'] = precio_noche

    # Asignamos a la columna fecha_reserva del df_competencia agrupados por id_hotel la fecha_reserva del elemento i de los valores de df_competencia_scrapping 
    df_competencia.loc[df_competencia['id_hotel'] == id_hotel, 'fecha_reserva'] = fecha_reserva

VERIFICAR CAMBIOS

In [6]:
for i, (hotel, grupo) in enumerate(df_competencia.groupby("id_hotel")):
    display(grupo.sample(5))

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
13895,040a3a56-abad-4bb2-b12d-cbc9aaf094d1,9725,Martirio,Pulido,martirio.pulido@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
7860,6de844cc-265a-4452-b8ba-50fa38f94353,12381,Roberta,Castillo,roberta.castillo@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
3509,e159b2f9-d0ff-435d-9456-bd8151d05cd2,10956,Nuria,Albero,nuria.albero@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
11,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,9762,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,
9383,f469856f-f157-43d6-b842-1576c1036ff9,5297,Felicia,Bayo,felicia.bayo@example.com,True,2025-02-26,2025-03-01,2025-03-02,103,255.0,Novotel Madrid Center,4.6,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
3503,2674aabc-76b8-493d-beab-f394255a952c,620,Alfonso,Menéndez,alfonso.menéndez@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
13505,c853ea95-0959-459a-8db2-660368865385,12847,Ruy,Domingo,ruy.domingo@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
3437,1a7b17a3-6916-4281-b8ad-d349280cc86b,12361,Rita,Comas,rita.comas@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
13437,4f9c22a1-96aa-47f0-b2b9-0a6365bc4013,8292,Leocadio,Robledo,leocadio.robledo@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,
10024,daf3eb49-180a-43ed-8e4b-0de57fb6687a,1387,Araceli,Torres,araceli.torres@example.com,True,2025-02-26,2025-03-01,2025-03-02,113,110.0,ibis budget Madrid Calle 30,4.4,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
7294,b597ab70-c589-4267-b070-7788a7b52980,7691,Josep,Giménez,josep.giménez@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
669,a6dc83c0-8a19-472b-85c8-e548282907ea,1086,Anastasia,Alvarado,anastasia.alvarado@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
10708,db11511b-4fbe-43af-9909-24c9fe2f6392,12032,Ramona,Escamilla,ramona.escamilla@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
488,bd6f9f95-4c8c-4c6d-b02a-b1ac8d2700e3,4795,Esteban,Jaén,esteban.jaén@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,
728,904418ee-437b-4dd7-8bee-552348f2fb51,13388,Silvia,Tamarit,silvia.tamarit@example.com,True,2025-02-26,2025-03-01,2025-03-02,114,119.0,ibis budget Madrid Centro las Ventas,4.3,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
10488,a9245d29-12d4-455d-ae34-b79150c525d5,307,Agapito,Pons,agapito.pons@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
9738,f0c6c282-e957-43df-b9e1-5cde7d6a48ac,9181,Manuel,Bayona,manuel.bayona@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
9057,9733edfe-0f88-4626-979f-2733fa77556d,9448,Marianela,Mas,marianela.mas@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
7278,f211a549-187b-4c18-bf3c-152562a26044,4931,Eulalia,Expósito,eulalia.expósito@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,
12671,4b6c8e0b-31ce-43b7-8e1a-53434d2630b6,2903,Chus,Caparrós,chus.caparrós@example.com,True,2025-02-26,2025-03-01,2025-03-02,117,173.0,Novotel Madrid City Las Ventas,4.6,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
4200,e8bb127b-61de-48c8-8bde-68f4fcd61375,5023,Eva María,Poza,eva maría.poza@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
8616,255a9479-68d7-4479-a7bd-13f6fd1a335a,4831,Ester,Cuervo,ester.cuervo@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
6551,58ab186d-4f48-46fd-90bb-22bade795282,265,Adrián,Avilés,adrián.avilés@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
9144,a03f7280-2f2d-4504-af3b-c8bbefd85cd2,5681,Francisca,Llobet,francisca.llobet@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,
8868,4bf6bc34-3adf-4498-b09d-9cfdbf74d7d8,11958,Rafa,Mayo,rafa.mayo@example.com,True,2025-02-26,2025-03-01,2025-03-02,128,95.0,ibis budget Madrid Calle Alcalá,4.3,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
13604,465aa5ca-974f-493d-a371-62238ebcbdc4,7257,Jenny,Guzman,jenny.guzman@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
14656,c910e4f2-c990-4b09-af9f-19383ed0b7b7,11623,Pepita,Nadal,pepita.nadal@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
8357,b0d660d2-77fa-4fba-8104-8c5f1e42121c,4294,Eligio,Alcántara,eligio.alcántara@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
2655,7717db73-479f-447d-9cf2-2a93bd42100f,11341,Pacífica,Llamas,pacífica.llamas@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,
11403,864d8e44-d5da-48f0-be67-c7bf9a357765,4726,Ernesto,Escrivá,ernesto.escrivá@example.com,True,2025-02-26,2025-03-01,2025-03-02,131,119.0,ibis Madrid Calle Alcalá,4.5,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
11504,2fc65202-8743-4005-ab0f-a7fa2178247d,4851,Estrella,Bejarano,estrella.bejarano@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
11770,17e883b9-3b88-45e1-adf4-c225dbb77486,570,Alejo,Colomer,alejo.colomer@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
6611,94716cff-1a97-47b3-94bc-16f571bccbf5,2523,Carmelo,Cantón,carmelo.cantón@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
3414,be52490a-be2c-4fb3-8cd6-780b5afd7cdb,11553,Paulino,Roura,paulino.roura@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,
9046,1be32082-69ee-4688-b665-6fda322291d8,2589,Casandra,Aliaga,casandra.aliaga@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.0,ibis budget Madrid Vallecas,4.3,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
316,3b9ef51a-4bd1-4b57-a386-06435c429350,4237,Elena,Verdejo,elena.verdejo@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
3935,6f8274e4-060a-4164-95f0-e8d420aeaa54,6486,Hernando,Calleja,hernando.calleja@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
258,4d2bbce6-5000-4d39-89b7-774db7ba3500,14156,Valero,Niño,valero.niño@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
12968,1bd6091d-0fd8-4473-887e-3e4175d0896d,4270,Eliana,Feijoo,eliana.feijoo@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,
9500,3946bee8-55ba-4401-aed0-2994a97d890a,10232,Miguel,Boix,miguel.boix@example.com,True,2025-02-26,2025-03-01,2025-03-02,181,129.0,Pullman Madrid Airport & Feria,4.2,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
11871,e9ccbf25-75c7-46ab-a3b6-1f32f422696a,10741,Nicanor,Esteve,nicanor.esteve@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
9463,780d2f22-5345-4de9-a0b2-062e6a0c6c39,11894,Pánfilo,Ferrández,pánfilo.ferrández@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
12576,ccaf2de8-f819-404a-a8fa-e67180443f27,13578,Tadeo,Saura,tadeo.saura@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
5648,b8082c38-1292-4b41-886c-6d29e3a40483,9289,Marcelo,Arias,marcelo.arias@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,
1376,452594d6-ec60-43c7-80b3-e3a473cee667,7213,Javiera,Terrón,javiera.terrón@example.com,True,2025-02-26,2025-03-01,2025-03-02,186,154.0,Novotel Madrid Campo de las Naciones,4.5,

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
13882,b11f94f1-4792-444a-b4ae-e5a5d8dc6dc5,7797,José,Anaya,josé.anaya@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
5503,18df29a1-58b0-4367-bf1f-b266820b95bb,6796,Inés,Prat,inés.prat@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
3222,66870a07-2269-471b-aa4f-23c6125b728c,9508,Maricruz,Aguilar,maricruz.aguilar@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
11930,505164d6-dd0f-41a5-89d9-1df50d96272b,7338,Jesús,Palma,jesús.palma@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,
3881,86f59f79-e740-48f9-9d02-f2197c3ffa42,8327,Leoncio,Mendoza,leoncio.mendoza@example.com,True,2025-02-26,2025-03-01,2025-03-02,194,116.0,ibis Madrid Aeropuerto Barajas,4.4,

In [7]:
df_competencia.to_pickle("../data/limpieza/hoteles_competencia_completo.pkl")

UNIR DATAFRAMES

In [8]:
df_final = pd.concat([df_propios, df_competencia], ignore_index=True)
df_final.sample(5)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad
13678,0fd02320-a917-4a7f-b7ff-7e3501aa5597,9795,María Del Carmen,Chacón,maría del carmen.chacón@example.com,True,2025-02-26,2025-03-01,2025-03-02,135,107.00,ibis budget Madrid Vallecas,4.30,
6578,41f6ce91-9396-4ac3-bc72-7f81f975af99,5954,Geraldo,Fonseca,geraldo.fonseca@example.com,False,2025-02-11,2025-03-01,2025-03-02,14,230.83,Hotel Puerta del Cielo,3.03,Madrid
1211,c7807533-8941-4837-ab1d-6ec49c58857c,6667,Ignacia,Pozo,ignacia.pozo@example.com,False,2025-02-12,2025-03-01,2025-03-02,8,493.22,Hotel Los Almendros,3.01,Madrid
5800,fdc9b73d-4582-4ca7-a2c3-a046ecff540d,10055,Maxi,Benavente,maxi.benavente@example.com,False,2025-02-09,2025-03-01,2025-03-02,5,112.17,Hotel Encanto Real,3.03,Madrid
5715,7a965540-bb79-42bc-bcec-d8bf72a7d940,8897,Luna,Bartolomé,luna.bartolomé@example.com,False,2025-02-06,2025-03-01,2025-03-02,2,382.57,Hotel Brisas del Mar,3.09,Madrid

In [9]:
df_final["ciudad"] = df_final["ciudad"].replace("", "Madrid")
print(df_final["ciudad"].unique())

['Madrid']

In [10]:
df_final['id_ciudad'] = df_final.groupby('ciudad').ngroup() + 1

df_final['id_hotel'] = df_final.groupby('nombre_hotel').ngroup() + 1

In [11]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15000 non-null  object
 1   id_cliente       15000 non-null  int64
 2   nombre           15000 non-null  object
 3   apellido         15000 non-null  object
 4   mail             15000 non-null  object
 5   competencia      15000 non-null  bool
 6   fecha_reserva    15000 non-null  datetime64[ns]
 7   inicio_estancia  15000 non-null  datetime64[ns]
 8   final_estancia   15000 non-null  datetime64[ns]
 9   id_hotel         15000 non-null  int64
 10  precio_noche     15000 non-null  float64
 11  nombre_hotel     15000 non-null  object
 12  valoracion       15000 non-null  float64
 13  ciudad           15000 non-null  object
 14  id_ciudad        15000 non-null  int64
dtypes: bool(1), datetime64[ns](3), float64(2), int64(3), object(6)
memory usage: 1.6+ MB

**REVISAR LOS CLIENTES QUE TIENEN RESERVAS EN > 1 HOTEL PARA EL MISMO FIN DE SEMANA TRAS LA CARGA DE DATOS DE API Y WEB SCRAPPING**

In [ ]:
reservas_cliente = df_final.groupby("id_cliente")["id_reserva"].count()
clientes_multiples_reservas = reservas_cliente[reservas_cliente > 1]
len(clientes_multiples_reservas) # 93 clientes con > 1 reserva
clientes_multiples_reservas.unique() # Sólo hay clientes con 2 o 3 reservas

clientes_multiples_reservas = reservas_cliente[reservas_cliente > 2]
len(clientes_multiples_reservas) # 2 clientes con 3 reservas

93

In [ ]:
clientes_doble_reserva = reservas_cliente[reservas_cliente == 2]
print(len(clientes_doble_reserva)) # 91 clientes don 2 reservas

clientes_triple_reserva = reservas_cliente[reservas_cliente == 3]
print(len(clientes_triple_reserva)) # 2 clientes con 3 reservas

91
2

Para comprar entre reservas, vamos a asignar una categoria a cada hotel en función de su precio.

In [ ]:

df_clientes_doble_reservas = df_final[df_final["id_cliente"].isin(clientes_doble_reserva.index)].sort_values("id_cliente")
df_clientes_doble_reservas

In [ ]:
df_clientes_triple_reservas = df_final[df_final["id_cliente"].isin(clientes_triple_reserva.index)].sort_values("id_cliente")
df_clientes_triple_reservas

COMPROBAR SI HAY CLIENTES QUE HAN RESERVADO EN HOTELES PROPIOS Y DE LA COMPETENCIA PARA LA MISMA FECHA

In [12]:
clientes_propios = df_final[df_final["competencia"] == False]["id_cliente"].unique()
clientes_propios = set(clientes_propios) # Lo pasamos a set para coger valores únicos automáticamente

clientes_competencia = df_final[df_final["competencia"] == True]["id_cliente"].unique()
clientes_competencia = set(clientes_competencia)

clientes_doble_reserva = clientes_propios.intersection(clientes_competencia)

len(clientes_doble_reserva)

40

In [13]:
df_clientes_doble_reserva = df_final[df_final["id_cliente"].isin(clientes_doble_reserva)]

df_clientes_doble_reserva

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id_ciudad
89,ce727457-b05d-4d48-b5e5-002a1a7274a8,3742,David,Julián,david.julián@example.com,False,2025-02-03,2025-03-01,2025-03-02,13,198.89,Hotel Palacio Imperial,3.01,Madrid,1
429,af0d8fa1-4c3f-46d7-beb3-944976dea50c,13440,Sofía,Lamas,sofía.lamas@example.com,False,2025-02-09,2025-03-01,2025-03-02,12,382.83,Hotel Monte Verde,3.10,Madrid,1
590,aab4eaef-10ef-4162-a487-c006fcdd3eaf,8331,Leoncio,Robledo,leoncio.robledo@example.com,False,2025-02-04,2025-03-01,2025-03-02,8,486.09,Hotel Los Almendros,3.01,Madrid,1
1098,1707d7ca-72ff-4af9-9786-0f39e4504a51,5033,Eva,Bárcena,eva.bárcena@example.com,False,2025-02-06,2025-03-01,2025-03-02,9,201.79,Hotel Luz de Madrid,3.05,Madrid,1
1832,000eecd9-8b82-468f-bbbb-1acffb643f35,9553,Marina,Vargas,marina.vargas@example.com,False,2025-02-05,2025-03-01,2025-03-02,16,136.77,Hotel Sol y Luna,3.01,Madrid,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14339,2de93c59-fd50-4de4-8319-bb06e82d9d0b,11106,Olalla,Lillo,olalla.lillo@example.com,True,2025-02-26,2025-03-01,2025-03-02,20,255.00,Novotel Madrid Center,4.60,Madrid,1
14571,04d309d7-325b-4086-864e-fcc630908f2c,12247,Reyes,Cruz,reyes.cruz@example.com,True,2025-02-26,2025-03-01,2025-03-02,28,119.00,ibis budget Madrid Centro las Ventas,4.30,Madrid,1
14714,ccdfda32-d7c5-4837-b068-76020623b924,1242,Anita,Rueda,anita.rueda@example.com,True,2025-02-26,2025-03-01,2025-03-02,27,95.00,ibis budget Madrid Calle Alcalá,4.30,Madrid,1
14806,2fc7f17c-5bd7-4e8d-a775-4f364cbbb381,14033,Trinidad,Ramis,trinidad.ramis@example.com,True,2025-02-26,2025-03-01,2025-03-02,25,119.00,ibis Madrid Calle Alcalá,4.50,Madrid,1
14958,9c6d21bf-08e2-4d2a-977f-970d207d58cf,2832,Che,Pelayo,che.pelayo@example.com,True,2025-02-26,2025-03-01,2025-03-02,24,116.00,ibis Madrid Aeropuerto Barajas,4.40,Madrid,1

In [11]:
df_final.to_pickle("../data/final/hoteles_final.pkl")